<br>
<div class="container">
  <div class="small-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://thumbs.dreamstime.com/b/vue-a%C3%A9rienne-d-une-fille-sur-la-plage-et-eau-turquoise-du-haut-depuis-le-drone-%C3%A0-mer-bleue-de-relaxation-voyage-d%C3%A9tente-image-160354216.jpg);">
    <div class="container text-center">
      <h1> It's time <strong>to plan</strong> your <strong>get away</strong>!</h1>
      <button type="button" class="btn btn-banner" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Create your new trip
      </button>
    </div>
  </div>
  <br>
  <br>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Futur Trips</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Past Trips</button>
    </div>
  </nav>


  <div class="trip-card-grid mt-4">

      <% @trips.each do |trip| %>

          <div class="trip-card">
            <div class="trip-card-left">
              <%= link_to trip_path(trip) do %>
                <h4> <%= trip.title %></h4>
              <% end %>
              <i class="fas fa-user-plus" data-bs-toggle="modal" data-bs-target="#participantCreate"></i>
              <p class="trip-card-description"><%= trip.description %></p>
            </div>
            <div class="trip-card-right">
              <%=image_tag "https://thumbs.dreamstime.com/b/vue-a%C3%A9rienne-d-une-fille-sur-la-plage-et-eau-turquoise-du-haut-depuis-le-drone-%C3%A0-mer-bleue-de-relaxation-voyage-d%C3%A9tente-image-160354216.jpg" %>
              <p class="dates">Du <%= trip.start_date.day%>/<%= trip.start_date.month%>/<%= trip.start_date.year%> au <%= trip.end_date.day%>/<%= trip.end_date.month%>/<%= trip.end_date.year%> </p>
              <p class="location">
                <% if trip.city != nil %>
                  <%= trip.city %>
                <% end %>
              </p>
              <% unless trip.user != current_user %>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editTripModal-<%= trip.id %>">
                edit
              </button>
              <%= link_to trip_path(trip), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-trash-alt" style="font-size:30px; color:#d39487"></i>
                <% end %>
              <% end %>
            </div>
          </div>

      <% end %>


  </div>
</div>

   <%= render 'trip_index_details/trip' %>
