<br>
<div class="container">
  <div class="small-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://thumbs.dreamstime.com/b/vue-a%C3%A9rienne-d-une-fille-sur-la-plage-et-eau-turquoise-du-haut-depuis-le-drone-%C3%A0-mer-bleue-de-relaxation-voyage-d%C3%A9tente-image-160354216.jpg);">
    <div class="container text-center">
      <h1> It's time <strong>to plan</strong> your <strong>get away</strong>!</h1>
      <a class="btn btn-banner" href="#">Let's travel</a>
    </div>
  </div>
<br>
<br>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-coming-trips" role="tabpanel" aria-labelledby="nav-coming-trips-tab">...</div>
  <div class="tab-pane fade" id="nav-previous-trips" role="tabpanel" aria-labelledby="nav-previous-trips-tab">...</div>
</div>

  <div class="trip-card-grid mt-4">

    <div class="trip-card">
      <div class="trip-card-left">
        <h4>Tom's birthday azd azd azd a</h4>
        <p>Une semaine à la plage avec les copains au bord de la mer zad azda zd a</p>
      </div>
      <div class="trip-card-right">
        <%=image_tag "https://thumbs.dreamstime.com/b/vue-a%C3%A9rienne-d-une-fille-sur-la-plage-et-eau-turquoise-du-haut-depuis-le-drone-%C3%A0-mer-bleue-de-relaxation-voyage-d%C3%A9tente-image-160354216.jpg" %>
        <p class="dates">Du 18/03 au 20/03 </p>
        <p class="location">Ibiza azd azd azd</p>
      </div>
    </div>

   <div class="trip-card">
      <div class="trip-card-left">
        <h4>Tom's birthday</h4>
        <p>Une semaine à la plage avec les copains au bord de la mer</p>
      </div>
      <div class="trip-card-right">
        <%=image_tag "https://thumbs.dreamstime.com/b/vue-a%C3%A9rienne-d-une-fille-sur-la-plage-et-eau-turquoise-du-haut-depuis-le-drone-%C3%A0-mer-bleue-de-relaxation-voyage-d%C3%A9tente-image-160354216.jpg" %>
        <p class="dates">Du 18/03 au 20/03 </p>
        <p class="location">Ibiza</p>
      </div>
    </div>

    <div class="trip-card">
      <div class="trip-card-left">
        <h4>Tom's birthday</h4>
        <p>Une semaine à la plage avec les copains au bord de la mer</p>
      </div>
      <div class="trip-card-right">
        <%=image_tag "https://thumbs.dreamstime.com/b/vue-a%C3%A9rienne-d-une-fille-sur-la-plage-et-eau-turquoise-du-haut-depuis-le-drone-%C3%A0-mer-bleue-de-relaxation-voyage-d%C3%A9tente-image-160354216.jpg" %>
        <p class="dates">Du 18/03 au 20/03 </p>
        <p class="location">Ibiza</p>
      </div>
    </div>

<div class="trip-card">
      <div class="trip-card-left">
        <h4>Tom's birthday</h4>
        <p>Une semaine à la plage avec les copains au bord de la mer</p>
      </div>
      <div class="trip-card-right">
        <%=image_tag "https://thumbs.dreamstime.com/b/vue-a%C3%A9rienne-d-une-fille-sur-la-plage-et-eau-turquoise-du-haut-depuis-le-drone-%C3%A0-mer-bleue-de-relaxation-voyage-d%C3%A9tente-image-160354216.jpg" %>
        <p class="dates">Du 18/03 au 20/03 </p>
        <p class="location">Ibiza</p>
      </div>
    </div>

   <div class="trip-card">
      <div class="trip-card-left">
        <h4>Tom's birthday</h4>
        <p>Une semaine à la plage avec les copains au bord de la mer</p>
      </div>
      <div class="trip-card-right">
        <%=image_tag "https://thumbs.dreamstime.com/b/vue-a%C3%A9rienne-d-une-fille-sur-la-plage-et-eau-turquoise-du-haut-depuis-le-drone-%C3%A0-mer-bleue-de-relaxation-voyage-d%C3%A9tente-image-160354216.jpg" %>
        <p class="dates">Du 18/03 au 20/03 </p>
        <p class="location">Ibiza</p>
      </div>
    </div>

    <div class="trip-card">
      <div class="trip-card-left">
        <h4>Tom's birthday</h4>
        <p>Une semaine à la plage avec les copains au bord de la mer</p>
      </div>
      <div class="trip-card-right">
        <%=image_tag "https://thumbs.dreamstime.com/b/vue-a%C3%A9rienne-d-une-fille-sur-la-plage-et-eau-turquoise-du-haut-depuis-le-drone-%C3%A0-mer-bleue-de-relaxation-voyage-d%C3%A9tente-image-160354216.jpg" %>
        <p class="dates">Du 18/03 au 20/03 </p>
        <p class="location">Ibiza</p>
      </div>
    </div>

   </div>

</div>
