<br>
<div class="container">
  <div class="small-banner d-flex align-items-center justify-content-center mb-5 mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2020/02/16/07/55/beach-4852830_1280.jpg);">
    <div class="text-center ">
    <div class="column">
      <div class="row d-flex justify-content-center">
        <h1> It's time <strong>to plan</strong> your <strong>get away</strong>!</h1>
      </div>
      <div class="row d-flex justify-content-center">
        <button type="button" class="btn btn-banner" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Create your new trip
        </button>
      </div>
    </div>
    </div>
  </div>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Futur Trips</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Past Trips</button>
    </div>
  </nav>


  <div class="trip-card-grid mt-4">
      <% @trips.each do |trip| %>
          <div class="trip-card">
            <div class="trip-card-left">
              <div class="col d-flex justify-content-between">
                <div class="row">
                  <%= link_to trip_path(trip) do %>
                    <h4> <%= trip.title %></h4>
                  <% end %>
                </div>
                <div class="row">
                  <i class="fas fa-user-plus mt-3 mx-2" data-bs-toggle="modal" data-bs-target="#participantCreate"></i>
                </div>
              </div>
                <p class="trip-card-description"><%= trip.description %></p>
            </div>
            <div class="trip-card-right">
              <%=image_tag "https://cdn.pixabay.com/photo/2020/01/16/10/13/mountain-and-sea-4770131_1280.jpg" %>
              <p class="dates">Du <%= trip.start_date.day%>/<%= trip.start_date.month%>/<%= trip.start_date.year%> au <%= trip.end_date.day%>/<%= trip.end_date.month%>/<%= trip.end_date.year%> </p>
              <p class="location mt-2">
                <% if trip.city != nil %>
                  <%= trip.city %>
                <% end %>
              </p>
              <% unless trip.user != current_user %>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editTripModal-<%= trip.id %>">
                edit
              </button>
              <%= link_to trip_path(trip), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-trash-alt" style="font-size:30px; color:#d39487"></i>
                <% end %>
              <% end %>
            </div>
          </div>

      <% end %>


  </div>
</div>

   <%= render 'trip_index_details/trip' %>
