<div class="small-banner d-flex align-items-center justify-content-center mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2020/02/16/07/55/beach-4852830_1280.jpg); border-radius: 0px">
  <div class="text-center ">
  <div class="column">
    <div class="row d-flex justify-content-center">
      <h1> It's time <strong>to plan</strong> your <strong>getaway</strong>!</h1>
    </div>
    <div class="row d-flex justify-content-center">
      <button type="button" class="btn btn-banner" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="width:20rem">
        Embark on your next journey
      </button>
    </div>
  </div>
  </div>
</div>
<div class="container">

  <nav class="d-inline-flex w-100 justify-content-around">
    <div class="nav nav-tabs w-100" id="nav-tab" role="tablist">
      <button class="nav-link active w-30" id="coming-tab" data-bs-toggle="tab" data-bs-target="#coming" type="button" role="tab" aria-controls="coming" aria-selected="true">Your coming trips</button>
      <button class="nav-link w-30" id="past-tab" data-bs-toggle="tab" data-bs-target="#past" type="button" role="tab" aria-controls="past" aria-selected="false">Your past trips</button>
    </div>
  </nav>
  <div id="nav-tab" class="tab-content">
    <div class="tab-pane fade show active" id="coming" role="tabpanel" aria-labelledby="coming-tab">
      <div class="card-list">
        <% if @coming_trips.count == 0 %>
          <div class="card-trip-empty" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <h1>Plan your next journey</h1>
            <div class="round-plus">
              <h1> + </h1>
            </div>
          </div>
        <% end %>
        <% @coming_trips.each do |trip| %>
          <div class="card-trip_index">
            <%= link_to trip_path(trip) do %>
              <div class="card-trip_index-title">
                <h1><%= trip.title %></h1>
              </div>
              <div class="card-trip_index-details">
                <div class="card-trip_index-details-dates">
                  <%= trip.start_date.day%>/<%= trip.start_date.month%>/<%= trip.start_date.year%> -
                  <%= trip.end_date.day%>/<%= trip.end_date.month%>/<%= trip.end_date.year%>
                </div>
                <div class="card-trip_index-details-title">
                  <h1><%= trip.title %></h1>
                </div>
                <div class="card-trip_index-details-city">
                  <h4><%= trip.city %></h4>
                </div>
                <div class="card-trip_index-details-decription">
                  <p><%= trip.description %></p>
                </div>
              </div>
            <% end %>
            <div class="dropdown-box">
              <i class="fas fa-ellipsis-h" type="button" id="indexActions" data-bs-toggle="dropdown" aria-expanded="false"></i>
                <ul class="dropdown-menu" aria-labelledby="indexActions">
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#participantCreate">Invite a friend...</a></li>
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editTripModal-<%= trip.id %>">Modify trip...</a></li>
                  <% if trip.user == current_user %>
                    <%= link_to trip_path(trip), method: :delete, data: { confirm: "Are you sure?" } do %>
                      <li><p class="dropdown-item delete-action" >Delete</p></li>
                    <% end %>
                  <% end %>
                </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="past" role="tabpanel" aria-labelledby="past-tab">
      <div class="card-list">
        <% if @past_trips.count == 0 %>
          <div class="card-trip-empty">
            <h2>Time to plan your next journey</h2>
            <div class="round-plus" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <h1> + </h1>
            </div>
          </div>
        <% end %>
        <% @past_trips.each do |trip| %>
          <div class="card-trip_index">
            <%= link_to trip_path(trip) do %>
              <div class="card-trip_index-title">
                <h1><%= trip.title %></h1>
              </div>
              <div class="card-trip_index-details">
                <div class="card-trip_index-details-dates">
                  <%= trip.start_date.day%>/<%= trip.start_date.month%>/<%= trip.start_date.year%> -
                  <%= trip.end_date.day%>/<%= trip.end_date.month%>/<%= trip.end_date.year%>
                </div>
                <div class="card-trip_index-details-title">
                  <h1><%= trip.title %></h1>
                </div>
                <div class="card-trip_index-details-city">
                  <h4><%= trip.city %></h4>
                </div>
                <div class="card-trip_index-details-decription">
                  <p><%= trip.description %></p>
                </div>
              </div>
            <% end %>
            <div class="dropdown-box">
              <i class="fas fa-ellipsis-h" type="button" id="indexActions" data-bs-toggle="dropdown" aria-expanded="false"></i>
                <ul class="dropdown-menu" aria-labelledby="indexActions">
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#participantCreate">Invite a friend...</a></li>
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editTripModal-<%= trip.id %>">Modify trip...</a></li>
                  <% if trip.user == current_user %>
                    <%= link_to trip_path(trip), method: :delete, data: { confirm: "Are you sure?" } do %>
                      <li><p class="dropdown-item delete-action" >Delete</p></li>
                    <% end %>
                  <% end %>
                </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
<%= render 'trip_index_details/trip' %>

<footer class="container-fluid bg-white" style="height:auto">
  <div class="container">
    <div class="row align-items-center d-flex justify-content-between">
      <div class="col-md-4 col-sm-2">
        <h6>Momento</h6>
        <p>Copyright © 2022 Momento. All rights reserved </p>
      </div>
        <div class="col-md-4 col-sm-2">
        </div>
      <div class="col-md-4 col-sm-2">
              <div class="social d-flex justify-content-center align-items-center">
                <div class="social-circle d-flex justify-content-center align-items-center">
                  <a href="#"><i class="fab fa-github" style="color: black"></i></a>
                </div>
                <div class="social-circle d-flex justify-content-center align-items-center">
                  <a href="#"><i class="fab fa-instagram" style="color: black"></i></a>
                </div>
                <div class="social-circle d-flex justify-content-center align-items-center">
                  <a href="#"><i class="fab fa-facebook" style="color: black"></i></a>
                </div>
                <div class="social-circle d-flex justify-content-center align-items-center">
                  <a href="#"><i class="fab fa-twitter" style="color: black"></i></a>
                </div>
                <div class="social-circle d-flex justify-content-center align-items-center">
                  <a href="#"><i class="fab fa-linkedin" style="color: black"></i></a>
                </div>
              </div>
      </div>
    </div>
  </div>
</footer>
