<br>
<div class="container">
  <div class="small-banner d-flex align-items-center justify-content-center mb-5 mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2020/02/16/07/55/beach-4852830_1280.jpg);">
    <div class="text-center ">
    <div class="column">
      <div class="row d-flex justify-content-center">
        <h1> It's time <strong>to plan</strong> your <strong>get away</strong>!</h1>
      </div>
      <div class="row d-flex justify-content-center">
        <button type="button" class="btn btn-banner" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="width:20rem">
          Create your new trip
        </button>
      </div>
    </div>
    </div>
  </div>

  <nav class="d-inline-flex w-100">
    <div class="nav nav-tabs w-100" id="nav-tab" role="tablist">
      <button class="nav-link active w-50" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" style="background-color:#FCEFD6">Your coming trips</button>
      <button class="nav-link w-50" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Your past trips</button>
    </div>
  </nav>

  <div class="trip-card-grid pt-4" style="background-color:#FCEFD6">
      <% @trips.each do |trip| %>
          <div class="trip-card">
            <div class="trip-card-left">
              <div class="col d-flex justify-content-between">
                <div class="row">
                  <%= link_to trip_path(trip) do %>
                    <h4> <%= trip.title %></h4>
                  <% end %>
                </div>
                <div class="row">
                  <i class="fas fa-user-plus mt-3 mx-2" data-bs-toggle="modal" data-bs-target="#participantCreate" style="color:white"></i>
                </div>
              </div>
              <div class="trip-card-description container">
                <%= trip.description %><br>
                <div class="">
                  <button class="btn btn-banner" style="background-color:#3A405A; color:white">
                    <%= link_to "Discover", trip_path(trip)%>
                  </button>
                </div>
              </div>
            </div>
            <div class="trip-card-right d-flex align-items-end justify-content-end">
              <%=image_tag "https://cdn.pixabay.com/photo/2020/01/16/10/13/mountain-and-sea-4770131_1280.jpg" %>
              <p class="dates" style="text-align: right;">
              From <%= trip.start_date.day%>/<%= trip.start_date.month%>/<%= trip.start_date.year%><br>
              To: <%= trip.end_date.day%>/<%= trip.end_date.month%>/<%= trip.end_date.year%> </p>
              <p class="location mt-2">
                <% if trip.city != nil %>
                  <%= trip.city %>
                <% end %>
              </p>
              <% unless trip.user != current_user %>
                <div class="row d-flex justify-content-end" style="margin-right: 5px;margin-bottom: 10Px;">
                  <div class="column col-6">
                    <button type="button" class="btn btn-light p-0" style="background-color:#F79F79; border:#DCF2E8" data-bs-toggle="modal" data-bs-target="#editTripModal-<%= trip.id %>">
                      <i class="fas fa-edit" aria-hidden="true" style="font-size:20px; color:#F7D08A"></i>
                    </button>
                  </div>
                  <div class="column col-6">
                    <%= link_to trip_path(trip), method: :delete, data: { confirm: "Are you sure?" } do %>
                      <i class="fas fa-trash-alt" style="font-size:20px; color:#3A405A"></i>
                    <% end %>
                  </div>
                </div>
            <% end %>
            </div>
          </div>

      <% end %>


  </div>
</div>

   <%= render 'trip_index_details/trip' %>
