<br>
<div class="container">
  <div class="small-banner d-flex align-items-center justify-content-center mb-5 mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2020/02/16/07/55/beach-4852830_1280.jpg);">
    <div class="text-center ">
    <div class="column">
      <div class="row d-flex justify-content-center">
        <h1> It's time <strong>to plan</strong> your <strong>get away</strong>!</h1>
      </div>
      <div class="row d-flex justify-content-center">
        <button type="button" class="btn btn-banner" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="width:20rem">
          Create your new trip
        </button>
      </div>
    </div>
    </div>
  </div>

  <nav class="d-inline-flex w-100">
    <div class="nav nav-tabs w-100" id="nav-tab" role="tablist">
      <button class="nav-link active w-50" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Your coming trips</button>
      <button class="nav-link w-50" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Your past trips</button>
    </div>
  </nav>


    <div class="card-list">
      <% @trips.each do |trip| %>
        <%= link_to trip_path(trip) do %>
          <div class="card-trip_index">
            <div class="card-trip_index-title">
              <h1><%= trip.title %></h1>
            </div>
            <div class="card-trip_index-details">
              <div class="card-trip_index-details-dates">
                <%= trip.start_date.day%>/<%= trip.start_date.month%>/<%= trip.start_date.year%> -
                <%= trip.end_date.day%>/<%= trip.end_date.month%>/<%= trip.end_date.year%>
              </div>
              <div class="card-trip_index-details-title">
                <h1><%= trip.title %></h1>
              </div>
              <div class="card-trip_index-details-city">
                <h4><%= trip.city %></h4>
              </div>
              <div class="card-trip_index-details-decription">
                <p><%= trip.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
<%= render 'trip_index_details/trip' %>
