<div style="background-color:#F2FAEF">
  <div class="container container-dashboard">
    <div class="dashboard-box dashboard-info">
      <div class="d-flex justify-content-between" style="width: 50%">
            <p><%= "#{@trip.start_date.day}/#{@trip.start_date.month}/#{@trip.start_date.year}"%></p>
            <p><%= "#{@trip.end_date.day}/#{@trip.end_date.month}/#{@trip.end_date.year}"%></p>
          </div>
          <div class="d-flex">
            <h1><%= @trip.title %></h1>
          </div>
          <%= @trip.description %>
    </div>
    <div class="dashboard-box dashboard-accomodation">
      <p>Accomodation</p>
      <%= render 'trip_details/accomodations' %>
    </div>
    <div class="dashboard-box dashboard-transportation">
      <p>Transport</p>
      <%= render 'trip_details/transportations' %>
    </div>
    <div class="dashboard-box dashboard-people">
      <p>Friends <%= render 'trip_details/participant' %></p>
    </div>
    <div class="dashboard-box dashboard-expenses">
      <p>Expenses</p>
      <%= render 'trip_details/expenses' %>
    </div>
    <div class="dashboard-box dashboard-activities">
      <p>Activities</p>
      <%= render 'trip_details/events' %>
    </div>
    <div class="dashboard-box dashboard-photos">
      <%= render 'trip_details/photos' %>
    </div>
    <div class="dashboard-box dashboard-chat">
      <%= render 'trip_details/messages' %>
    </div>
  </div>
</div>


<%# <%= render 'trip_details/events' %>
