    <div class="trip-card">
      <div class="trip-card-left">
        <h4>Tom's birthday azd azd azd a</h4>
        <p>Une semaine à la plage avec les copains au bord de la mer zad azda zd a</p>
      </div>
      <div class="trip-card-right">
        <%=image_tag "https://thumbs.dreamstime.com/b/vue-a%C3%A9rienne-d-une-fille-sur-la-plage-et-eau-turquoise-du-haut-depuis-le-drone-%C3%A0-mer-bleue-de-relaxation-voyage-d%C3%A9tente-image-160354216.jpg" %>
        <p class="dates">Du 18/03 au 20/03 </p>
        <p class="location">Ibiza azd azd azd</p>
      </div>
    </div>

   <div class="trip-card">
      <div class="trip-card-left">
        <h4>Tom's birthday</h4>
        <p>Une semaine à la plage avec les copains au bord de la mer</p>
      </div>
      <div class="trip-card-right">
        <%=image_tag "https://thumbs.dreamstime.com/b/vue-a%C3%A9rienne-d-une-fille-sur-la-plage-et-eau-turquoise-du-haut-depuis-le-drone-%C3%A0-mer-bleue-de-relaxation-voyage-d%C3%A9tente-image-160354216.jpg" %>
        <p class="dates">Du 18/03 au 20/03 </p>
        <p class="location">Ibiza</p>
      </div>
    </div>

    <div class="trip-card">
      <div class="trip-card-left">
        <h4>Tom's birthday</h4>
        <p>Une semaine à la plage avec les copains au bord de la mer</p>
      </div>
      <div class="trip-card-right">
        <%=image_tag "https://thumbs.dreamstime.com/b/vue-a%C3%A9rienne-d-une-fille-sur-la-plage-et-eau-turquoise-du-haut-depuis-le-drone-%C3%A0-mer-bleue-de-relaxation-voyage-d%C3%A9tente-image-160354216.jpg" %>
        <p class="dates">Du 18/03 au 20/03 </p>
        <p class="location">Ibiza</p>
      </div>
    </div>

<div class="trip-card">
      <div class="trip-card-left">
        <h4>Tom's birthday</h4>
        <p>Une semaine à la plage avec les copains au bord de la mer</p>
      </div>
      <div class="trip-card-right">
        <%=image_tag "https://thumbs.dreamstime.com/b/vue-a%C3%A9rienne-d-une-fille-sur-la-plage-et-eau-turquoise-du-haut-depuis-le-drone-%C3%A0-mer-bleue-de-relaxation-voyage-d%C3%A9tente-image-160354216.jpg" %>
        <p class="dates">Du 18/03 au 20/03 </p>
        <p class="location">Ibiza</p>
      </div>
    </div>

   <div class="trip-card">
      <div class="trip-card-left">
        <h4>Tom's birthday</h4>
        <p>Une semaine à la plage avec les copains au bord de la mer</p>
      </div>
      <div class="trip-card-right">
        <%=image_tag "https://thumbs.dreamstime.com/b/vue-a%C3%A9rienne-d-une-fille-sur-la-plage-et-eau-turquoise-du-haut-depuis-le-drone-%C3%A0-mer-bleue-de-relaxation-voyage-d%C3%A9tente-image-160354216.jpg" %>
        <p class="dates">Du 18/03 au 20/03 </p>
        <p class="location">Ibiza</p>
      </div>
    </div>

    <div class="trip-card">
      <div class="trip-card-left">
        <h4>Tom's birthday</h4>
        <p>Une semaine à la plage avec les copains au bord de la mer</p>
      </div>
      <div class="trip-card-right">
        <%=image_tag "https://thumbs.dreamstime.com/b/vue-a%C3%A9rienne-d-une-fille-sur-la-plage-et-eau-turquoise-du-haut-depuis-le-drone-%C3%A0-mer-bleue-de-relaxation-voyage-d%C3%A9tente-image-160354216.jpg" %>
        <p class="dates">Du 18/03 au 20/03 </p>
        <p class="location">Ibiza</p>
      </div>
    </div>

<!--Previous decent looking card-->
        <div class="card">
            <div class="card-body">
                <span class="date">
                  From <%= trip.start_date.day%>/<%= trip.start_date.month%>/<%= trip.start_date.year%>
                  <br>To: <%= trip.end_date.day%>/<%= trip.end_date.month%>/<%= trip.end_date.year%>
                </span>
                <h2><%=trip.title%></h2>
                <h3><%= trip.city %></h3>
                <p><%= trip.description %></p>
            </div>
        </div>
