<%= render 'shared/navbar' %>

<div class="banner">
  <div class="banner-titles text-center">
    <h1 id="banner-title">Create memories, effortlessly</h1>
    <h5 id="banner-description">Momento is the ultimate trip planner to help you spend memorable moments with your loved ones</h5>
  </div>
    <%= image_tag "Friends-trip2.jpg", class:"img-banner"%>
  <div class="banner-btn text-center m-5">
    <%= link_to "Join us !", trips_path, class: "btn btn-lg btn-homepage"  %>
  </div>
</div>

<%# TIMELINE %>
<div class="home-timeline">
  <div class="d-flex justify-content-center m-5">
    <h1 id="timeline-title">How it works</h1>
  </div>

  <div class="container">
    <%# TIMELINE ROW 1 %>
    <div class="row w-50 mx-auto">
      <div class="col content-timeline-right py-5">
        <h3>Sign up</h3>
        <p>Create an account to join the <strong>Momenters community</strong></p>
      </div>
      <div class="col py-5">
        <div class="d-flex">
          <div class="timeline-div-arrow-left bg-grey-momento px-4 d-flex align-items-center justify-content-center my-3">
            <div class="div-arrow-rounded rounded-circle d-flex align-items-center justify-content-center">
              <%= image_tag "right-arrow.png", alt: "arrow", width: 20, height: 20 %>
            </div>
          </div>
          <div class="card-timeline flex-grow-1" style="z-index:3;">
            <div class="number-card-timeline d-flex align-items-center justify-content-center">
              <h3>1</h3>
            </div>
            <div class="card-timeline-infos d-flex justify-content-center align-items-center">
              <%= image_tag "signup.png", alt: "Sign up", width: 75, height: 75 %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# TIMELINE ROW 2 %>
    <div class="row w-50 mx-auto">
      <div class="col py-5">
        <div class="d-flex">
          <div class="card-timeline flex-grow-1" style="z-index:3;">
            <div class="number-card-timeline d-flex align-items-center justify-content-center">
              <h3>2</h3>
            </div>
           <div class="card-timeline-infos d-flex justify-content-center align-items-center">
              <%= image_tag "promotion.png", alt: "Promotion", width: 75, height: 75 %>
            </div>
          </div>
          <div class="timeline-div-arrow-right bg-grey-momento px-4 d-flex align-items-center justify-content-center my-3">
            <div class="div-arrow-rounded-right rounded-circle d-flex align-items-center justify-content-center">
             <%= image_tag "right-arrow.png", alt: "arrow", width: 20, height: 20 %>
            </div>
          </div>
        </div>
      </div>
      <div class="col content-timeline-left py-5">
        <div class="ps-5">
          <h3>Invite your friends</h3>
          <p>Get the <strong>ones you love</strong> and you want to spend time with</p>
        </div>
      </div>
    </div>

    <%# TIMELINE ROW 3 %>
    <div class="row w-50 mx-auto">
      <div class="col content-timeline-right py-5">
        <h3>Plan ahead</h3>
        <p>Create your <strong>first Moment</strong> and plan everything in one place so you can focus on enjoying with your friends</p>
      </div>
      <div class="col py-5">
        <div class="d-flex">
          <div class="timeline-div-arrow-left bg-grey-momento px-4 d-flex align-items-center justify-content-center my-3">
            <div class="div-arrow-rounded rounded-circle d-flex align-items-center justify-content-center">
              <%= image_tag "right-arrow.png", alt: "arrow", width: 20, height: 20 %>
            </div>
          </div>
          <div class="card-timeline flex-grow-1" style="z-index:3;">
            <div class="number-card-timeline d-flex align-items-center justify-content-center">
              <h3>3</h3>
            </div>
            <div class="card-timeline-infos d-flex justify-content-center align-items-center">
              <%= image_tag "check-mark.png", alt: "Plan ahead", width: 75, height: 75 %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# TIMELINE ROW 4 %>
    <div class="row w-50 mx-auto">
      <div class="col py-5">
        <div class="d-flex">
          <div class="card-timeline flex-grow-1" style="z-index:3;">
            <div class="number-card-timeline d-flex align-items-center justify-content-center">
              <h3>4</h3>
            </div>
           <div class="card-timeline-infos d-flex justify-content-center align-items-center">
              <%= image_tag "camera.png", alt: "Create Memories", width: 100, height: 100 %>
            </div>
          </div>
          <div class="timeline-div-arrow-right bg-grey-momento px-4 d-flex align-items-center justify-content-center my-3">
            <div class="div-arrow-rounded-right rounded-circle d-flex align-items-center justify-content-center">
             <%= image_tag "right-arrow.png", alt: "arrow", width: 20, height: 20 %>
            </div>
          </div>
        </div>
      </div>
      <div class="col content-timeline-left py-5">
        <div class="ps-5">
          <h3>Create Memories</h3>
          <p>Keep tracks of <strong> all yours Moments </strong> (photos, activities) in one place </p>
        </div>
      </div>
    </div>

    <%# TIMELINE ROW 5 %>
    <div class="row w-50 mx-auto">
      <div class="col content-timeline-right py-5">
        <h3>Shared with your <br> loved ones</h3>
        <p>Share your memories <strong>esaily on social networks</strong> with auto-edited content</p>
      </div>
      <div class="col py-5">
        <div class="d-flex">
          <div class="timeline-div-arrow-left bg-grey-momento px-4 d-flex align-items-center justify-content-center my-3">
            <div class="div-arrow-rounded rounded-circle d-flex align-items-center justify-content-center">
              <%= image_tag "right-arrow.png", alt: "arrow", width: 20, height: 20 %>
            </div>
          </div>
          <div class="card-timeline flex-grow-1" style="z-index:3;">
            <div class="number-card-timeline d-flex align-items-center justify-content-center">
              <h3>5</h3>
            </div>
            <div class="card-timeline-infos d-flex justify-content-center align-items-center">
              <%= image_tag "online-match.png", alt: "Shared", width: 75, height: 75 %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%# END TIMELINE %>

<div class="container d-flex justify-content-center align-items-center pt-5">
  <div class="container-green d-flex justify-content-evenly align-items-center flex-column">
    <div class="container-green-title text-center py-3">
      <h2 id="container-green-why-us">Why us?</h2>
    </div>

    <div class="row px-5 pb-5">
      <div class="col">
        <div class="d-flex">
          <div class="card-product">
            <%= image_tag "passport.png", alt: "Shared" %>
            <div class="card-product-infos">
              <h2>Your trips in one place</h2>
              <p>All you need to plan moments with the people you love in <strong>one place</strong></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex">
           <div class="card-product">
              <%= image_tag "globe.png", alt: "Shared" %>
              <div class="card-product-infos">
                <h2>A free way to have good time</h2>
                <p>So you can <strong>focus on enjoying</strong> with your friends and family</p>
              </div>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex">
          <div class="card-product">
            <%= image_tag "globalization.png", alt: "Shared" %>
            <div class="card-product-infos">
              <h2>A constantly changing app</h2>
              <p>Momento evolves everyday, stay stunned for <strong>new features !</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

    <footer class="container-fluid bg-white" style="height:auto">
      <div class="container">
        <div class="row align-items-center d-flex justify-content-between">
          <div class="col-md-4 col-sm-2">
            <h6>Momento</h6>
            <p>Copyright © 2022 Momento. All rights reserved </p>
          </div>
            <div class="col-md-4 col-sm-2">
            </div>
          <div class="col-md-4 col-sm-2">
                  <div class="social d-flex justify-content-center align-items-center">
                    <div class="social-circle d-flex justify-content-center align-items-center">
                      <a href="#"><i class="fab fa-github" style="color: black"></i></a>
                    </div>
                    <div class="social-circle d-flex justify-content-center align-items-center">
                      <a href="#"><i class="fab fa-instagram" style="color: black"></i></a>
                    </div>
                    <div class="social-circle d-flex justify-content-center align-items-center">
                      <a href="#"><i class="fab fa-facebook" style="color: black"></i></a>
                    </div>
                    <div class="social-circle d-flex justify-content-center align-items-center">
                      <a href="#"><i class="fab fa-twitter" style="color: black"></i></a>
                    </div>
                    <div class="social-circle d-flex justify-content-center align-items-center">
                      <a href="#"><i class="fab fa-linkedin" style="color: black"></i></a>
                    </div>
                  </div>
          </div>
        </div>
      </div>
    </footer>
