<div class="banner">
  <div class="banner-titles text-center">
    <h1 id="banner-title">Create memories, effortlessly</h1>
    <h5 id="banner-description">Momento is the ultimate trip planner to help you spend memorable moments with your loved ones</h5>
  </div>
  <div class="banner-btn text-center m-5">
    <%= link_to "Join us !", trips_path, class: "btn btn-lg btn-homepage"  %>
  </div>
</div>

<%# TIMELINE %>
<div class="home-timeline">
  <div class="d-flex justify-content-center m-5">
    <h1 id="timeline-title">How it's work</h1>
  </div>

  <div class="container">
    <%# TIMELINE ROW 1 %>
    <div class="row w-50 mx-auto">
      <div class="col content-timeline-right py-5">
        <h3>Sign up</h3>
        <p>Create an account to join the Momenters community</p>
      </div>
      <div class="col py-5">
        <div class="d-flex">
          <div class="timeline-div-arrow-left bg-grey-momento px-4 d-flex align-items-center justify-content-center my-3">
            <div class="div-arrow-rounded rounded-circle d-flex align-items-center justify-content-center">
              <%= image_tag "right-arrow.png", alt: "arrow", width: 20, height: 20 %>
            </div>
          </div>
          <div class="card-timeline flex-grow-1" style="z-index:3;">
            <div class="number-card-timeline d-flex align-items-center justify-content-center">
              <h3>1</h3>
            </div>
            <div class="card-timeline-infos d-flex justify-content-center align-items-center">
              <%= image_tag "signup.png", alt: "Sign up", width: 75, height: 75 %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# TIMELINE ROW 2 %>
    <div class="row w-50 mx-auto">
      <div class="col py-5">
        <div class="d-flex">
          <div class="card-timeline flex-grow-1" style="z-index:3;">
            <div class="number-card-timeline d-flex align-items-center justify-content-center">
              <h3>2</h3>
            </div>
           <div class="card-timeline-infos d-flex justify-content-center align-items-center">
              <%= image_tag "promotion.png", alt: "Promotion", width: 75, height: 75 %>
            </div>
          </div>
          <div class="timeline-div-arrow-right bg-grey-momento px-4 d-flex align-items-center justify-content-center my-3">
            <div class="div-arrow-rounded-right rounded-circle d-flex align-items-center justify-content-center">
             <%= image_tag "right-arrow.png", alt: "arrow", width: 20, height: 20 %>
            </div>
          </div>
        </div>
      </div>
      <div class="col content-timeline-left py-5">
        <div class="ps-5">
          <h3>Invite your friends</h3>
          <p>Get the ones you love and you want to spend time with</p>
        </div>
      </div>
    </div>

    <%# TIMELINE ROW 3 %>
    <div class="row w-50 mx-auto">
      <div class="col content-timeline-right py-5">
        <h3>Plan ahead</h3>
        <p>Create your first Moment and plan everything in one place so you can focus on enjoying with your friends</p>
      </div>
      <div class="col py-5">
        <div class="d-flex">
          <div class="timeline-div-arrow-left bg-grey-momento px-4 d-flex align-items-center justify-content-center my-3">
            <div class="div-arrow-rounded rounded-circle d-flex align-items-center justify-content-center">
              <%= image_tag "right-arrow.png", alt: "arrow", width: 20, height: 20 %>
            </div>
          </div>
          <div class="card-timeline flex-grow-1" style="z-index:3;">
            <div class="number-card-timeline d-flex align-items-center justify-content-center">
              <h3>3</h3>
            </div>
            <div class="card-timeline-infos d-flex justify-content-center align-items-center">
              <%= image_tag "time-management.png", alt: "Plan ahead", width: 75, height: 75 %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# TIMELINE ROW 4 %>
    <div class="row w-50 mx-auto">
      <div class="col py-5">
        <div class="d-flex">
          <div class="card-timeline flex-grow-1" style="z-index:3;">
            <div class="number-card-timeline d-flex align-items-center justify-content-center">
              <h3>4</h3>
            </div>
           <div class="card-timeline-infos d-flex justify-content-center align-items-center">
              <%= image_tag "idea-bulb.png", alt: "Create Memories", width: 75, height: 75 %>
            </div>
          </div>
          <div class="timeline-div-arrow-right bg-grey-momento px-4 d-flex align-items-center justify-content-center my-3">
            <div class="div-arrow-rounded-right rounded-circle d-flex align-items-center justify-content-center">
             <%= image_tag "right-arrow.png", alt: "arrow", width: 20, height: 20 %>
            </div>
          </div>
        </div>
      </div>
      <div class="col content-timeline-left py-5">
        <div class="ps-5">
          <h3>Create Memories</h3>
          <p>Keep tracks of <strong> all yours Moments </strong> (photos, activities) in one place </p>
        </div>
      </div>
    </div>

    <%# TIMELINE ROW 5 %>
    <div class="row w-50 mx-auto">
      <div class="col content-timeline-right py-5">
        <h3>Shared with your <br> loved ones</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="col py-5">
        <div class="d-flex">
          <div class="timeline-div-arrow-left bg-grey-momento px-4 d-flex align-items-center justify-content-center my-3">
            <div class="div-arrow-rounded rounded-circle d-flex align-items-center justify-content-center">
              <%= image_tag "right-arrow.png", alt: "arrow", width: 20, height: 20 %>
            </div>
          </div>
          <div class="card-timeline flex-grow-1" style="z-index:3;">
            <div class="number-card-timeline d-flex align-items-center justify-content-center">
              <h3>5</h3>
            </div>
            <div class="card-timeline-infos d-flex justify-content-center align-items-center">
              <%= image_tag "chat-bubbles.png", alt: "Shared", width: 75, height: 75 %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%# END TIMELINE %>

<div class="container mb-5 pt-5 d-flex justify-content-center">
  <div class="container-green pt-4">
    <div class="container-green-title text-center pb-3">
      <h2 id="container-green-why-us">Why us?</h2>
    </div>

    <div class="row px-5">
      <div class="col">
        <div class="d-flex">
          <div class="card-product">
            <%= image_tag "chat-bubbles.png", alt: "Shared" %>
            <div class="card-product-infos">
              <h2>Product name</h2>
              <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex">
           <div class="card-product">
              <%= image_tag "chat-bubbles.png", alt: "Shared" %>
              <div class="card-product-infos">
                <h2>Product name</h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
              </div>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex">
          <div class="card-product">
            <%= image_tag "chat-bubbles.png", alt: "Shared" %>
            <div class="card-product-infos">
              <h2>Product name</h2>
              <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row px-5">
      <div class="col">
        <div class="d-flex">
          <div class="card-product">
            <%= image_tag "chat-bubbles.png", alt: "Shared" %>
            <div class="card-product-infos">
              <h2>Product name</h2>
              <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex">
           <div class="card-product">
              <%= image_tag "chat-bubbles.png", alt: "Shared" %>
              <div class="card-product-infos">
                <h2>Product name</h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
              </div>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex">
          <div class="card-product">
            <%= image_tag "chat-bubbles.png", alt: "Shared" %>
            <div class="card-product-infos">
              <h2>Product name</h2>
              <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
