<!-- Button trigger modal new -->

<!-- Button trigger modal new -->


<!-- Modal new-->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="position-relative" style="z-index: 2;">
        <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 15px; right: 15px;"></button>
      </div>
        <div class="modal-body py-5">
          <div class="container">
            <div class="d-flex w-100 align-items-center">
              <h4 class="text-center mb-4 highlight-title mx-auto" id="ModalExpensesCreateLabel">ADD A JOURNEY</h4>
            </div>
          <%= simple_form_for [@user, @trip], url: trips_path, method: :post do |f| %>
            <div class="d-flex justify-content-between">
              <div class="inline-question">
                <%= f.input :title %>
              </div>
              <div class="inline-question">
                 <%= f.input :city,
                  input_html: { data: { geocoder_target: "address" }, placeholder:"Paris Orly, Gare Bordeaux Saint Jean, 56 rue de la Chine 75020 Paris", class: "d-none" },
                  wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'], geocoder_placeholder_value:"City, Country,..." } }, label: false%>
              </div>
            </div>
            <%= f.input :description %>
            <div class="d-flex justify-content-between">
              <div class="inline-question">
                <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
              </div>
              <div class="inline-question">
                <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
              </div>
            </div>
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
            <div class="text-center mt-3">
              <%= f.submit "Start planning!", class: "btn btn-lg btn-homepage" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal edit-->
<% @trips.each do |trip| %>
  <div class="modal fade" id="editTripModal-<%= trip.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="position-relative" style="z-index: 2;">
          <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 15px; right: 15px;"></button>
        </div>
          <div class="modal-body py-5">
            <div class="container">
              <div class="d-flex w-100 align-items-center">
                <h4 class="text-center mb-4 highlight-title mx-auto" id="ModalExpensesCreateLabel">MODIFY YOUR JOURNEY</h4>
              </div>
            <%= simple_form_for [trip] do |f| %>
              <div class="d-flex justify-content-between">
                <div class="inline-question">
                  <%= f.input :title %>
                </div>
                <div class="inline-question">
                  <%= f.input :city,
                  input_html: { data: { geocoder_target: "address" }, placeholder:"Paris Orly, Gare Bordeaux Saint Jean, 56 rue de la Chine 75020 Paris", class: "d-none" },
                  wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'], geocoder_placeholder_value:"City, Country,..." } }, label: false%>
                </div>
              </div>
              <%= f.input :description %>
              <div class="d-flex justify-content-between">
                <div class="inline-question">
                  <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
                </div>
                <div class="inline-question">
                  <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
                </div>
              </div>
              <%= f.input :photos, as: :file, input_html: { multiple: true } %>
              <div class="text-center mt-3">
                <%= f.submit "Save changes", class: "btn btn-primary btnAddTrip gap-2 col-6" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end %>

<!-- Modal add a participant-->
<% @trips.each do |trip|  %>
  <div class="modal fade" id="participantCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Invite your friend</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% @users.each do |user| %>
            <ul>
              <% unless user.participates?(trip) %>
                <li>
                  <%= user.username %>
                  <%= simple_form_for [trip, @participant] do |f|%> <!-- Ce code fonctionnera lorsqu'il sera intégré dans les cartes de la show des trips (il pourra identifer le trip)-->
                    <%= f.input :user_id, as: :hidden, input_html: {value: user.id}%>
                    <%= f.input :trip_id, as: :hidden, input_html: {value: trip.id} %>
                    <%= f.submit%>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- End of Modal-->
