<!-- Button trigger modal new -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      +
    </button>

  <!-- Button trigger modal new -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal-edit-trip" data-bs-target="#staticBackdrop">
      edit
    </button>

<!-- Modal new-->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add a trip</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@user, @trip], url: trips_path, method: :post do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :city %>
          <%= f.submit %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal edit-->

<%# <div class="modal-edit-trip fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit a trip</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@user, @trip], url: trip_path, method: :patch do |f| %>
          <%# <%= f.input :start_date %>
          <%# <%= f.input :end_date %> %>
          <%# <%= f.input :title %> %>
          <%# <%= f.input :description %> %>
          <%# <%= f.input :city %> %>
          <%# <%= f.submit %> %>
        <%# <% end %> %> %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div> %>
