<!-- Button trigger modal -->
<% if @accomodations == [] %>
  <p style="color:black">You have not chosen an accomodation yet.</p>
  <button type="button" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#CreateAccomodationModal">
    +
  </button>
<% else %>
  <% if @accomodations.size == 1 && @accomodations.select{|accomodation| accomodation.confirmed == true} == []%>
    <p style="color:black">You have 1 accomodation in your wishlist.</p>
  <% elsif @accomodations.size > 1 && @accomodations.select{|accomodation| accomodation.confirmed == true} == []%>
    <p style="color:black">You have <%= @accomodations.size %> accomodations in your wishlist.</p>
    <p style="color:black">You haven't booked your place to stay yet.</p>
  <% elsif @accomodations.select{|accomodation| accomodation.confirmed == true} != []%>
    <% accomodation_booked = @accomodations.select{|accomodation| accomodation.confirmed == true}.first %>
    <p style="color:green;font-size:14px; text-align:center">You've booked your place to stay!</p>
    <h4 style="text-align:center"><%= accomodation_booked.title %></h3>
    <h6 style="text-align:center"><%= accomodation_booked.address %></h6>
  <% end %>
  <div class="d-flex justify-content-evenly">
    <button type="button" class="btn btn-light btn-sm btn-more-infos" data-bs-toggle="modal" data-bs-target="#IndexAccomodationModal">
        more info
    </button>
    <button type="button" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#CreateAccomodationModal">
      +
    </button>
  </div>
<% end %>


<!-- Modal index accomodations  -->
<div class="modal fade" id="IndexAccomodationModal" tabindex="-1" aria-labelledby="IndexAccomodationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content d-flex flex-column">
      <!-- if book confirmed  -->
      <% if @accomodations.find_by(confirmed: true) %>
        <div class="w-100 position-relative" style="min-height: 40vh">
          <div class="d-flex m-4">
            <div style="width: 60%;">
              <%if @accomodations.find_by(confirmed: true).img.present?%>
                <%=image_tag @accomodations.find_by(confirmed: true).img, class:"index-img" %>
              <%end %>
            </div>
            <div class="d-flex align-items-center m-3" style="width: 40%;">
              <div class="container">
                <h1 class="title"><%= @accomodations.find_by(confirmed: true).title %></h1>
                <h6 class="text-break card-text"><%= @accomodations.find_by(confirmed: true).address %></h6>
                <p class="text-break card-text"><%= @accomodations.find_by(confirmed: true).description %></p>
                <div class="d-flex justify-content-between">
                  <div>
                  <i class="far fa-heart"></i> <%= @accomodations.find_by(confirmed: true).accomodation_votes.size%>
                  </div>
                  <h5><%= @accomodations.find_by(confirmed: true).price %> €</h5>
                </div>
                <%= link_to "You're not going here anymore?", confirm_accomodation_accomodation_path(@accomodations.find_by(confirmed: true)) %>
              </div>
            </div>
          </div>
          <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 8px; right: 8px;"></button>
        </div>
        <div class="modal-body w-100 d-flex align-items-center justify-content-evenly flex-wrap">
          <% @accomodations.reject{|accomodation| accomodation.confirmed == true}.each do |accomodation|%>
            <div class="card-index-accomodation position-relative" style="width: 32%;">
              <%= link_to trip_accomodation_path(accomodation.trip, accomodation), method: :delete, data: { confirm: "Are you sure?" }, class:"cross d-inline position-absolute", style:"top: 3px; right: 8px;" do %>
                <i class="fas fa-times"></i>
              <% end %>
              <% if accomodation.img.present?%>
                <%=image_tag accomodation.img, class:"index-img" %>
              <% end %>
              <div class="card-index-accomodation-infos">
                <div>
                  <%= accomodation.title %>
                  <br>
                  <p class="text-break" style="max-width: 240px;"><%= accomodation.description %></p>
                  <%= link_to "booked", confirm_accomodation_accomodation_path(accomodation) %>
                </div>
                <h2 class="card-index-accomodation-pricing position-absolute" style="bottom: 7px; right: 20px"><%= accomodation.price %> €</h2>
                <div class="card-index-accomodation-user ">
                  <%# pas liké %>
                  <% unless @participant.votes?(accomodation) %>
                    <div>
                      <%= link_to participant_accomodation_accomodation_votes_path(@participant, accomodation, @new_accomodation_vote), class: "d-flex align-items-center fav-button", method: :post do %>
                        <i class="far fa-heart pe-1"></i><%= accomodation.accomodation_votes.size%>
                      <% end%>
                    </div>
                  <%# liké %>
                  <% else %>
                    <div>
                      <% accomodation_vote = AccomodationVote.find_by(participant_id: @participant.id, accomodation_id: accomodation.id) %>
                      <%= link_to accomodation_accomodation_vote_path(accomodation_vote), class: "d-flex align-items-center fav-button", method: :delete, data: { confirm: "Are you sure?" } do %>
                        <i class="fas fa-heart pe-1"></i><%= accomodation.accomodation_votes.size%>
                      <% end%>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <!-- if no book confirmed  -->
      <% else %>
        <div class="w-100 position-relative bg-secondary bg-gradient d-flex justify-content-center align-items-center" style="min-height: 40vh">
          <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 7px; right: 7px;"></button>
          <p>No reservation selected</p>
        </div>
        <div class="modal-body w-100 d-flex align-items-center justify-content-evenly flex-wrap">
          <% @accomodations.each do |accomodation|%>
          <div class="card-index-accomodation position-relative mb-3" style="width: 32%;">
            <%= link_to trip_accomodation_path(accomodation.trip, accomodation), method: :delete, data: { confirm: "Are you sure?" }, class:"cross d-inline position-absolute", style:"top: 3px; right: 8px;" do %>
              <i class="fas fa-times"></i>
            <% end %>
            <%if accomodation.img.present?%>
              <%=image_tag accomodation.img, class:"index-img" %>
            <%end %>
            <div class="card-index-accomodation-infos">
              <div>
                <%= accomodation.title %>
                <br>
                <p class="text-break" style="max-width: 240px;"><%= accomodation.description %></p>
                <%= link_to "booked", confirm_accomodation_accomodation_path(accomodation) %>
              </div>
              <h2 class="card-index-accomodation-pricing position-absolute" style="bottom: 7px; right: 20px"><%= accomodation.price %> €</h2>
              <div class="card-index-accomodation-user">
                <%# pas liké %>
                <% unless @participant.votes?(accomodation) %>
                  <%= link_to participant_accomodation_accomodation_votes_path(@participant, accomodation, @new_accomodation_vote), class: "d-flex align-items-center fav-button", method: :post do %>
                    <i class="far fa-heart pe-1"></i><%= accomodation.accomodation_votes.size%>
                  <% end%>
                <%# liké %>
                <% else %>
                <div>
                  <% accomodation_vote = AccomodationVote.find_by(participant_id: @participant.id, accomodation_id: accomodation.id) %>
                  <%= link_to accomodation_accomodation_vote_path(accomodation_vote), class: "d-flex align-items-center fav-button", method: :delete, data: { confirm: "Are you sure?" } do %>
                    <i class="fas fa-heart pe-1"></i><%= accomodation.accomodation_votes.size%>
                  <% end %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
        <div class="text-end p-4">
          <p>Not interested in any of our suggestions?</p>
          <%# bouton modale create %>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateAccomodationModal">
            Add an accomodation
          </button>
        </div>
    </div>
  </div>
</div>

<!-- Modal create -->
<div class="modal fade" id="CreateAccomodationModal" tabindex="-1" aria-labelledby="CreateAccomodationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="position-relative" style="z-index: 2;">
        <button type="button" class="btn position-absolute" data-bs-toggle="modal" data-bs-target="#IndexAccomodationModal" style="top: 15px; left: 15px;">
          <i class="fas fa-arrow-left"></i>
        </button>
        <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 15px; right: 15px;"></button>
      </div>
      <div class="modal-body py-5">
        <div class="container">
          <div class="d-flex w-100 align-items-center">
            <h4 class="text-center mb-4 highlight-title mx-auto" id="titleAccomodationModal">ADD AN ACCOMODATION</h4>
          </div>
          <%# <h6>Choose the way to enter your infos :</h6> %>
          <div class="formUrlAccomodation">
            <p class="mt-3 mb-0 text-black">If you found it on a website : Url</p>
            <%= simple_form_for [@trip, @new_accomodation] do |f| %>
              <div class="d-flex inputUrlAccomodation">
                <%= f.input :url, placeholder: "url", class: "inputUrlAccomodation", label: false %>
                <%= f.submit "Add", class: "btn btn-primary btnAddUrl" %>
              </div>
            <% end %>
          </div>
          <p class="mt-3 mb-0 text-black">If you found it otherwise : Address</p>
          <%= simple_form_for [@trip, @new_accomodation] do |f| %>
          <%# <%= form_for new_trip_accomodation_path(@trip, @new_accomodation) do |f| %>
            <div class="d-flex justify-content-between">
              <%= f.input :title, placeholder: "title", label: false %>
              <%= f.input :address,
                          input_html: { data: { geocoder_target: "address" }, class: "d-none" },
                          wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'], geocoder_placeholder:"address"}}, label: false %>
              <%= f.input :price, placeholder: "price", label: false %>
            </div>
            <%= f.input :img, placeholder:"image address", label: false %>
            <%= f.input :description, placeholder: "description", label: false %>
            <div class="text-center mt-3">
             <%= f.submit "Add", class: "btn btn-primary btnAddAccomodation gap-2 col-6" %>
            </div>
          <% end %>
          <%# <input class="form-check-input" type="checkbox" value="booked" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          This will be the place we go
          </label> %>
        </div>
      </div>
    </div>
  </div>
</div>
