<!-- Button trigger modal -->
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#IndexAccomodationModal">
  See details
</button>



<!-- Modal index accomodations  -->
<div class="modal fade" id="IndexAccomodationModal" tabindex="-1" aria-labelledby="IndexAccomodationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="IndexAccomodationModalLabel">Accomodations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="accomodation-card-grid">
            <% @accomodations.each do |accomodation|%>
              <div class="accomodation-card">
                <% if accomodation.img.present? %>
                  <%=image_tag accomodation.img, class:"index-img" %>
                <%end %>
                <%= link_to "X", trip_accomodation_path(accomodation.trip, accomodation), method: :delete, data: { confirm: "Are you sure?" }, class:"cross d-inline" %>
                <%# <%= link_to "X", trip_accomodation_path, class:"cross d-inline"%>

                <div class="d-flex justify-content-between">
                  <p class="title d-inline"> <%= accomodation.title %> </p>
                  <p class="price d-inline"><%= accomodation.price %> €</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="booked" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                    Booked ?
                    </label>
                  </div>
                  <p class="likes d-inline"> 4 likes </p>
                  <p class="bi bi-heart"></p>
                </div>
              </div>
            <%end%>
          </div>
          <br>
          <br>
          <div class="text-center">
            <p>Not interested in any of our suggestions ?</p>
            <%# bouton modale create %>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateAccomodationModal">
              Add an accomodation
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal create -->
<div class="modal fade" id="CreateAccomodationModal" tabindex="-1" aria-labelledby="CreateAccomodationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CreateAccomodationModalLabel">Add an accomodation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <h1>Enter infos about your accomodation</h1>
          <h3>Choose the way to enter your infos :</h3>
          <p>If you found it on a website : Url</p>
          <%= simple_form_for [@trip, @new_accomodation] do |f| %>
            <%= f.input :url %>
            <%= f.submit %>
          <% end %>
          <p>If you found it otherwise : Adress</p>
          <%= simple_form_for [@trip, @new_accomodation] do |f| %>
            <%= f.input :title %>
            <%= f.input :address %>
            <%= f.input :description %>
            <%= f.input :price %>
            <%= f.input :img %>
            <%= f.submit %>
          <% end %>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="booked" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            This will be the place we go
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
