<!-- Button trigger modal -->
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#IndexAccomodationModal">
  See details
</button>



<!-- Modal index accomodations  -->
<div class="modal fade" id="IndexAccomodationModal" tabindex="-1" aria-labelledby="IndexAccomodationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="IndexAccomodationModalLabel">Accomodations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="accomodation-card-grid">
            <% @accomodations.each do |accomodation|%>
              <div class="accomodation-card">
                <div class="accomodation-card-top">
                  <p class="title d-inline"> <%= accomodation.title %> </p>
                </div>
                <%= link_to "X", trip_accomodation_path(accomodation.trip, accomodation), method: :delete, data: { confirm: "Are you sure?" }, class:"cross d-inline" %>
                <%# <%= link_to "X", trip_accomodation_path, class:"cross d-inline"%>
                <div class="accomodation-card-center">
                  <div class="col col-5 accomodation-card-photo">
                    <%if accomodation.img.present?%>
                      <%=image_tag accomodation.img, class:"index-img" %>
                    <%end %>
                  </div>
                  <div class="col col-5 accomodation-card-description" style="font-size: 12px">
                    <%= accomodation.description %>
                  </div>
                </div>
                <div class="accomodation-card-bottom">
                  <div class="d-flex justify-content-between">
                    <p class="price d-inline"><%= accomodation.price %> €</p>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="booked" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                    Booked?
                    </label>
                  </div>
                  <div>
                    <% unless @participant.votes?(accomodation) %>
                      <%= simple_form_for [@participant, accomodation, @new_accomodation_vote] do |f|%>
                        <%= button_tag type: 'submit', style:"background: none; border: none; color: #004E00;" do %>
                          <i class="far fa-heart"></i>
                        <% end %>
                      <% end %>
                      <%= accomodation.accomodation_votes.size%> likes(s)
                    <% else %>
                      <% accomodation_vote = AccomodationVote.find_by(participant_id: @participant.id, accomodation_id: accomodation.id) %>
                      <%= link_to accomodation_accomodation_vote_path(accomodation_vote), method: :delete, data: { confirm: "Are you sure?" } do %>
                        <i class="fas fa-heart"></i>
                      <% end%>
                      <%= accomodation.accomodation_votes.size%> likes(s)
                    <% end %>
                  </div>
                </div>
              </div>
            <%end%>
          </div>
          <br>
          <br>
          <div class="text-center">
            <p>Not interested in any of our suggestions ?</p>
            <%# bouton modale create %>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateAccomodationModal">
              Add an accomodation
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal create -->
<div class="modal fade" id="CreateAccomodationModal" tabindex="-1" aria-labelledby="CreateAccomodationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CreateAccomodationModalLabel">Add an accomodation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <h5>Enter infos about your accomodation</h5>
          <h6>Choose the way to enter your infos :</h6>

          <div class="formUrlAccomodation">
            <p class="mt-3">If you found it on a website : Url</p>
            <%= simple_form_for [@trip, @new_accomodation] do |f| %>
              <div class="d-flex inputUrlAccomodation">
                <%= f.input :url, class: "inputUrlAccomodation" %>
                <%= f.submit "Add", class: "btn btn-primary btnAddUrl" %>
              </div>
            <% end %>
          </div>

          <p class="mt-3">If you found it otherwise : Address</p>
          <%= simple_form_for [@trip, @new_accomodation] do |f| %>
            <div class="d-flex justify-content-between">
              <%= f.input :title %>
              <%= f.input :address %>
            </div>

            <div class="d-flex justify-content-between">
               <%= f.input :price %>
              <%= f.input :img %>
            </div>

            <%= f.input :description %>
            <div class="text-center">
             <%= f.submit "Add", class: "btn btn-primary gap-2 col-6" %>
            </div>
          <% end %>
          <div class="form-check mt-4">
            <input class="form-check-input" type="checkbox" value="booked" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            This will be the place we go
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
