<!-- Button trigger modal -->
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#IndexAccomodationModal">
  See details
</button>
<button type="button" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#CreateAccomodationModal">
  +
</button>



<!-- Modal index accomodations  -->
<div class="modal fade" id="IndexAccomodationModal" tabindex="-1" aria-labelledby="IndexAccomodationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content d-flex flex-column">

<!-- if book confirmed  -->
      <% if @accomodations.find_by(confirmed: true) %>
        <div class="w-100 position-relative" style="min-height: 40vh">
          <div class="d-flex m-4">
            <div style="width: 60%;">
              <%if @accomodations.find_by(confirmed: true).img.present?%>
              <%=image_tag @accomodations.find_by(confirmed: true).img, class:"index-img" %>
              <%end %>
            </div>
            <div style="width: 40%;">
              <div class="container">
                <h1 class="title"><%= @accomodations.find_by(confirmed: true).title %></h1>
                <h6 class="text-break card-text"><%= @accomodations.find_by(confirmed: true).address %></h6>
                <p class="text-break card-text"><%= @accomodations.find_by(confirmed: true).description %></p>
                <div class="d-flex justify-content-between">
                  <div>
                  <i class="far fa-heart"></i> <%= @accomodations.find_by(confirmed: true).accomodation_votes.size%>
                  </div>
                  <h6><%= @accomodations.find_by(confirmed: true).price %> €</h6>
                </div>
                <%= link_to "You're not going here anymore?", confirm_accomodation_accomodation_path(@accomodations.find_by(confirmed: true)) %>
              </div>
            </div>
          </div>
          <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 3px; right: 8px;"></button>

        </div>
        <div class="modal-body w-100 d-flex align-items-center justify-content-evenly flex-wrap">
            <% @accomodations.reject{|accomodation| accomodation.confirmed == true}.each do |accomodation|%>
            <div class="card-index-accomodation position-relative" style="width: 32%;">
              <%= link_to trip_accomodation_path(accomodation.trip, accomodation), method: :delete, data: { confirm: "Are you sure?" }, class:"cross d-inline position-absolute", style:"top: 3px; right: 8px;" do %>
                <i class="fas fa-times"></i>
              <% end %>
              <%if accomodation.img.present?%>
                <%=image_tag accomodation.img, class:"index-img" %>
              <%end %>
              <div class="card-index-accomodation-infos">
                <div>
                  <%= accomodation.title %>
                  <br>
                  <p class="text-break" style="max-width: 240px;"><%= accomodation.description %></p>
                  <%= link_to "booked", confirm_accomodation_accomodation_path(accomodation) %>
                </div>
                <h2 class="card-index-accomodation-pricing position-absolute" style="bottom: 7px; right: 20px"><%= accomodation.price %> €</h2>
                <div class="card-index-accomodation-user">
                <%# pas liké %>
                  <% unless @participant.votes?(accomodation) %>
                      <%= link_to participant_accomodation_accomodation_votes_path(@participant, accomodation, @new_accomodation_vote), method: :post do %>
                        <i class="far fa-heart"></i>
                      <% end%>
                      <%= accomodation.accomodation_votes.size%>
                  <% else %>
                      <% accomodation_vote = AccomodationVote.find_by(participant_id: @participant.id, accomodation_id: accomodation.id) %>
                      <%= link_to accomodation_accomodation_vote_path(accomodation_vote), method: :delete, data: { confirm: "Are you sure?" } do %>
                        <i class="fas fa-heart"></i>
                      <% end%>
                      <%= accomodation.accomodation_votes.size%>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
        </div>

<!-- if no book confirmed  -->
      <% else %>
        <div class="w-100 position-relative bg-secondary bg-gradient d-flex justify-content-center align-items-center" style="min-height: 40vh">
          <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 7px; right: 7px;"></button>
          <p>No reservation selected</p>
        </div>
        <div class="modal-body w-100 d-flex align-items-center justify-content-evenly flex-wrap">
            <% @accomodations.each do |accomodation|%>
            <div class="card-index-accomodation position-relative" style="width: 32%;">
              <%= link_to trip_accomodation_path(accomodation.trip, accomodation), method: :delete, data: { confirm: "Are you sure?" }, class:"cross d-inline position-absolute", style:"top: 3px; right: 8px;" do %>
                <i class="fas fa-times"></i>
              <% end %>
              <%if accomodation.img.present?%>
                <%=image_tag accomodation.img, class:"index-img" %>
              <%end %>
              <div class="card-index-accomodation-infos">
                <div>
                  <%= accomodation.title %>
                  <br>
                  <p class="text-break" style="max-width: 240px;"><%= accomodation.description %></p>
                  <%= link_to "booked", confirm_accomodation_accomodation_path(accomodation) %>
                </div>
                <h2 class="card-index-accomodation-pricing position-absolute" style="bottom: 7px; right: 20px"><%= accomodation.price %> €</h2>
                <div class="card-index-accomodation-user">
                  <% unless @participant.votes?(accomodation) %>
                    <%= simple_form_for [@participant, accomodation, @new_accomodation_vote] do |f|%>
                      <%= button_tag type: 'submit', class: "btn" do %>
                        <i class="far fa-heart"></i>
                      <% end %>
                    <% end %>
                    <%= accomodation.accomodation_votes.size%>
                  <% else %>
                    <% accomodation_vote = AccomodationVote.find_by(participant_id: @participant.id, accomodation_id: accomodation.id) %>
                    <%= link_to accomodation_accomodation_vote_path(accomodation_vote), method: :delete, data: { confirm: "Are you sure?" } do %>
                      <i class="fas fa-heart"></i>
                    <% end%>
                    <%= accomodation.accomodation_votes.size%>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
        </div>
      <% end %>
        <div class="text-end p-4">
          <p>Not interested in any of our suggestions ?</p>
          <%# bouton modale create %>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateAccomodationModal">
            Add an accomodation
          </button>
        </div>
    </div>
  </div>
</div>

<!-- Modal create -->
<div class="modal fade" id="CreateAccomodationModal" tabindex="-1" aria-labelledby="CreateAccomodationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="position-relative" style="z-index: 2;">
        <button type="button" class="btn position-absolute" data-bs-toggle="modal" data-bs-target="#IndexAccomodationModal" style="top: 7px; left: 7px;">
          <i class="fas fa-arrow-left"></i>
        </button>
        <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 7px; right: 7px;"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <h5>Add an accomodation</h5>
          <h6>Choose the way to enter your infos :</h6>

          <div class="formUrlAccomodation">
            <p class="mt-3">If you found it on a website : Url</p>
            <%= simple_form_for [@trip, @new_accomodation] do |f| %>
              <div class="d-flex inputUrlAccomodation">
                <%= f.input :url, class: "inputUrlAccomodation" %>
                <%= f.submit "Add", class: "btn btn-primary btnAddUrl" %>
              </div>
            <% end %>
          </div>

          <p class="mt-3">If you found it otherwise : Address</p>
          <%= simple_form_for [@trip, @new_accomodation] do |f| %>
            <div class="d-flex justify-content-between">
              <%= f.input :title %>
              <%= f.input :address %>
              <%= f.input :price %>
            </div>

              <%= f.input :img %>

            <%= f.input :description %>
            <div class="text-center">
             <%= f.submit "Add", class: "btn btn-primary gap-2 col-6" %>
            </div>
          <% end %>
          <div class="form-check mt-4">
            <input class="form-check-input" type="checkbox" value="booked" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            This will be the place we go
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
