<p style="color:black">Plan your activities</p>
<div class="container" style="overflow: scroll; height: 80%" id="events-index">
  <% if @trip.events == [] %>
    <div class="container">
      <button type="button" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        +
      </button>
    </div>
  <% else %>
    <% @trip.events.each do |event| %>
    <div class="activity-grid">
      <div class="activity-time">
        <%= event.start_date.strftime("%A") %> <%= event.start_date.day %>-<%= event.start_date.month %>
      </div>
      <div class="activity-icon">
        <%= link_to event_path(event), method: :delete, data: { confirm: "Are you sure?" } do %>
        <%= image_tag "#{event.category}.png", class:"activity-img"%>
          <i class="fas fa-times-circle delete-event"></i>
        <% end %>
          <i class="fas fa-edit edit-event" data-bs-toggle="modal" data-bs-target="#editEventModal-<%= event.id %>"></i>
      </div>
      <div class="activity-title">
        <%= event.start_date.hour %>:<%= event.start_date.min %> <%= event.description %>
      </div>
      <div class="activity-avatar-first">
        <% if event.event_participants.first %>
          <div class="avatar">
            <%= image_tag "user-placeholder.png", width: 30, height: 30%>
            <%= link_to event_participant_path(event.event_participants.first), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-times-circle delete-event-participant"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="activity-avatar-second">
        <% if event.event_participants[1] %>
          <div class="avatar">
            <%= image_tag "user-placeholder.png", width: 30, height: 30%>
            <%= link_to event_participant_path(event.event_participants[1]), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-times-circle delete-event-participant"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="activity-avatar-rest">
        <% if event.event_participants.count > 2 %>
          <div class="avatar" style="background-color:#5E6265; color:white">
            <%= event.event_participants.count - 2 %>
          </div>
        <% end %>
      </div>
      <div class="activity-participate-button">
        <% unless @participant.participates?(event) %>
          <%= simple_form_for [event, @event_participant] do |f|%>
            <%= button_tag type: 'submit', style:"background: none; border: none; color: #004E00;" do %>
                          <div class="btn-join-event" aria-hidden="true">Participate</div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  <!-- Button trigger modal -->
  <% end %>
</div>
<button type="button" class="btn btn-add " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  +
</button>




<!-- Modal create an event -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="position-relative" style="z-index: 2;">
        <button type="button" class="btn position-absolute" data-bs-toggle="modal" data-bs-target="#ModalExpensesDetails" style="top: 15px; left: 15px;">
          <i class="fas fa-arrow-left"></i>
        </button>
        <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 15px; right: 15px;"></button>
      </div>
      <div class="modal-body py-5">
          <div class="container">
        <div class="d-flex w-100 align-items-center">
          <h4 class="text-center mb-4 highlight-title mx-auto" id="ModalExpensesCreateLabel">ADD AN ACTIVITY</h4>
        </div>
        <%= simple_form_for [@participant, @event] do |f| %>
          <%= f.input :description, label:"What are you planning?", placeholder: "Bowling, Boat party, Dinner at La Pergola,.." %>
          <%= f.input :category, as: :select, collection: Event::ACTIVITIES%>
          <div class="event-dates d-flex justify-content-around">
            <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
          </div>
          <div class="text-center mt-3">
            <%= f.submit "Enjoy!", class: "btn btn-primary btnAddEvent gap-2 col-6" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal edit an event -->
<% @trip.events.each do |event| %>
  <div class="modal fade" id="editEventModal-<%= event.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="position-relative" style="z-index: 2;">
          <button type="button" class="btn position-absolute" data-bs-toggle="modal" data-bs-target="#ModalExpensesDetails" style="top: 15px; left: 15px;">
            <i class="fas fa-arrow-left"></i>
          </button>
          <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 15px; right: 15px;"></button>
        </div>
        <div class="modal-body py-5">
            <div class="container">
          <div class="d-flex w-100 align-items-center">
            <h4 class="text-center mb-4 highlight-title mx-auto" id="ModalExpensesCreateLabel">CHANGE YOUR PLANS</h4>

          </div>
          <%= simple_form_for [event] do |f| %>
            <%= f.input :description, label:"What are you planning?", placeholder: "Bowling, Boat party, Dinner at La Pergola,.." %>
            <div class="event-dates d-flex justify-content-around">
              <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
              <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            </div>
            <div class="text-center mt-3">
              <%= f.submit "Save changes", class: "btn btn-primary btnAddEvent gap-2 col-6" %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
