

<div class="container" style="overflow: scroll; height: 80px">

  <div class="d-flex">
    <h3 class="me-3"> <%= @total_per_participant%> €</h3>
    <!-- Button trigger modal Create expenses -->
    <button type="button" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#ModalExpensesCreate">
      +
    </button>
    <!-- Button trigger modal Show expenses -->
    <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#ModalExpensesDetails">
      Details
    </button>
  </div>
  <p><%= @total_per_participant %>€ / participant</p>


  <!-- Modal Show Expenses -->
  <div class="modal fade" id="ModalExpensesDetails" tabindex="-1" aria-labelledby="ModalExpensesDetailsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalExpensesDetailsLabel">Expenses</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2 class="title mb-3"><%= @total_per_participant %> / participant</h2>

          <div class="card">
            <ul class="list-group list-group-flush">
              <% @details_expenses.each do |expense| %>
                <li class="list-group-item py-4">
                  <div class="container">
                    <div class="d-flex justify-content-between">
                      <h6><%= expense.title %></h6>
                      <h6 class="ms-5"><%= expense.amount %>€</h6>
                    </div>
                    <% if expense.mutual == true %>
                      <div class="d-flex justify-content-between">
                        <p><%= expense.participant.user.username %> paid</p>
                        <p><%= (expense.amount / @participants_expenses.count).round(2) %>€ / participant</p>
                      </div>
                    <% elsif expense.mutual == false %>
                      <p><%= expense.amount %>€</p>
                      <p><%= expense.participant.user.username %> paid (individual expense)</p>
                    <% end %>


                    <div>
                      <!-- Button trigger edit expense -->
                        <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#ModalExpensesEdit-<%= expense.id %>">
                          <i class="fas fa-edit"></i>
                        </button>
                      <!-- button delete expense -->
                      <%= link_to expense_path(expense), method: :delete, data: { confirm: "Are you sure?" } do %>
                        <i class="fas fa-times"></i>
                      <% end %>
                    </div>

                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- Modal Create expenses -->
  <div class="modal fade" id="ModalExpensesCreate" tabindex="-1" aria-labelledby="ModalExpensesCreateLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalExpensesCreateLabel">New expense</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for [@participant, @new_expense] do |f| %>
            <div class="expense-form">
              <div class="input-expenses d-flex justify-content-around">
                <%= f.input :title, label:"What?", placeholder:"Dinner, Drinks, Hat,..." %>
                <%= f.input :amount, label: "Amount", placeholder:"50€" %>
              </div>
            <div class="end-expense-form d-flex justify-content-between">
              <%= f.input :mutual, as: :boolean, input_html: { class: "toggle", value: true }, label:"Did you pay for everyone?" %>
              <%= f.submit "Save", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal edit expense-->
  <% @details_expenses.each do |expense|  %>
  <div class="modal fade" id="ModalExpensesEdit-<%= expense.id %>" tabindex="-1" aria-labelledby="ModalExpensesEditLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalExpensesEditLabel">Edit your expense</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for(expense) do |f| %>
            <div class="input-expenses d-flex justify-content-center">
              <%= f.input :title, label:"What?", placeholder:"Dinner, Drinks, Hat,..." %>
              <%= f.input :amount, label: "Amount", placeholder:"50€" %>
            </div>
            <%= f.input :mutual, as: :boolean, input_html: { class: "toggle", value: true }, label:"Did you pay for everyone?" %>
            <%= f.submit %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>

</div>
