<div class="" style="overflow: scroll; height: auto">
  <div class="d-flex flex-column">
    <h3 style="font-size:calc(1.4rem); width: 84px;"> <%= @total_per_participant %> €</h3>
    <!-- Button trigger modal Create expenses -->
    <button type="button" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#ModalExpensesCreate">
      +
    </button>
    <!-- Button trigger modal Show expenses -->
    <button type="button" class="btn btn-light btn-sm btn-more-infos" data-bs-toggle="modal" data-bs-target="#ModalExpensesDetails">
      more info
    </button>
  </div>

  <!-- Modal Show Expenses -->
  <div class="modal fade" id="ModalExpensesDetails" tabindex="-1" aria-labelledby="ModalExpensesDetailsLabel" aria-hidden="true" style="max-height: 95%">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="sticky-top bg-white">
          <div class="position-relative" style="z-index: 2;">
            <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 15px; right: 15px;"></button>
          </div>
          <h2 class="title mt-5 text-center"><%= @total_per_participant %>€ per participant</h2>
        </div>
        <div class="modal-body py-2">
          <div class="card">
            <ul class="list-group list-group-flush">
              <% @details_expenses.each do |expense| %>
                <li class="list-group-item py-4">
                  <div class="container position-relative px-2 py-1">
                    <!-- button delete expense -->
                    <%= link_to expense_path(expense), method: :delete, data: { confirm: "Are you sure?" }, class:"cross d-inline position-absolute", style:"top: -18px; right: -6px;" do %>
                      <i class="fas fa-times"></i>
                    <% end %>
                    <div class="d-flex justify-content-between">
                      <h4 style="color: #50587C"><%= expense.title %></h4>
                      <h4 class="ms-5" style="color: #50587C"><%= expense.amount %>€</h4>
                    </div>
                    <% if expense.mutual == true %>
                      <div class="d-flex justify-content-between">
                        <p><%= expense.participant.user.username %> paid</p>
                        <p><%= (expense.amount / @participants_expenses.count).round(2) %>€ / participant</p>
                      </div>
                    <% elsif expense.mutual == false %>
                      <p><%= expense.participant.user.username %> paid (individual expense)</p>
                    <% end %>

                    <div>
                      <!-- Button trigger edit expense -->
                        <button type="button" class="btn btn-light btn-sm edit-expenses" data-bs-toggle="modal" data-bs-target="#ModalExpensesEdit-<%= expense.id %>">
                          modify...
                        </button>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Create expenses -->
  <div class="modal fade" id="ModalExpensesCreate" tabindex="-1" aria-labelledby="ModalExpensesCreateLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="position-relative" style="z-index: 2;">
          <button type="button" class="btn position-absolute" data-bs-toggle="modal" data-bs-target="#ModalExpensesDetails" style="top: 15px; left: 15px;">
            <i class="fas fa-arrow-left"></i>
          </button>
          <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 15px; right: 15px;"></button>
        </div>
        <div class="modal-body py-5">
          <div class="container">
            <div class="d-flex w-100 align-items-center">
              <h4 class="text-center mb-4 highlight-title mx-auto" id="ModalExpensesCreateLabel">ADD AN EXPENSE</h4>
            </div>
            <%= simple_form_for [@participant, @new_expense] do |f| %>
              <div class="expense-form">
                <div class="input-expenses d-flex justify-content-around">
                  <%= f.input :title, label:"Purchase", placeholder:"Bought item" %>
                  <%= f.input :amount, label: "Amount", placeholder:"Price" %>
                </div>
                  <div class="d-flex justify-content-center mt-5">
                    <%= f.input :mutual, as: :boolean, input_html: { class: "toggle", value: true }, label:"Tick this box if the purchase was for everyone" %>
                  </div>
                <div class="text-center mt-3">
                  <%= f.submit "Add", class: "btn btn-primary btnAddExpense gap-2 col-6" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal edit expense-->
  <% @details_expenses.each do |expense|  %>
    <div class="modal fade" id="ModalExpensesEdit-<%= expense.id %>" tabindex="-1" aria-labelledby="ModalExpensesCreateLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="position-relative" style="z-index: 2;">
            <button type="button" class="btn position-absolute" data-bs-toggle="modal" data-bs-target="#ModalExpensesDetails" style="top: 15px; left: 15px;">
              <i class="fas fa-arrow-left"></i>
            </button>
            <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 15px; right: 15px;"></button>
          </div>
          <div class="modal-body py-5">
            <div class="container">
              <div class="d-flex w-100 align-items-center">
                <h4 class="text-center mb-4 highlight-title mx-auto" id="ModalExpensesCreateLabel">MODIFY YOUR EXPENSE</h4>
              </div>
              <%= simple_form_for [expense] do |f| %>
                <div class="expense-form">
                  <div class="input-expenses d-flex justify-content-around">
                    <%= f.input :title, label:"Purchase", placeholder:"Bought item" %>
                    <%= f.input :amount, label: "Amount", placeholder:"Price" %>
                  </div>
                    <div class="d-flex justify-content-center mt-5">
                      <%= f.input :mutual, as: :boolean, input_html: { class: "toggle", value: true }, label:"Tick this box if the purchase was for everyone" %>
                    </div>
                  <div class="text-center mt-3">
                    <%= f.submit "Save changes", class: "btn btn-primary btnAddExpense gap-2 col-6" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
