<div class="chatroom" data-controller="trip-subscription" data-trip-subscription-current-user-id-value="<%= current_user.id %>"
  data-trip-subscription-trip-id-value="<%= @trip.id %>">
  <div class="text-center">
    <p class="mt-3"><%= @trip.title %></p>
  </div>
  <div class="trip-messages px-2 py-2" data-trip-subscription-target="messages">
    <% if @messages == [] %>
      <p style="color:black; text-align:center" class="py-5">Be the first to send a message !</p>
    <% else %>
      <% @messages.each do |message| %>
        <%= render "trip_details/message", message: message %>
      <% end %>
    <% end %>
  </div>

  <div class="form-trip-messages">
    <%= simple_form_for [@participant, @new_message],
      remote: true,
      html: {
        class: "d-flex simple-form-messages",
        'data-trip-subscription-target': 'form'
        } do |f| %>
      <%= f.input :content,
        label: false,
        placeholder: "Send something",
        wrapper_html: {class: "flex-grow-1"},
        input_html: {class:"border-0 px-1 py-1"} %>
      <button type="submit" class="bg-transparent border-0"><i class="fas fa-paper-plane" style="color:#79C7C5"></i></button>
    <% end %>
  </div>
</div>
