

<i class="fas fa-user-plus" data-bs-toggle="modal" data-bs-target="#participantCreate"></i>
<h3><%= @participants.count %> friends invited</h3>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#showParticipantsModal">
  View all
</button>

<!-- Modal -->
<div class="modal fade" id="showParticipantsModal" tabindex="-1" aria-labelledby="showParticipantsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showParticipantsModalLabel">Friends Invited</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <% @participants.each do |participant| %>
            <li>
            <%= participant.user.username %>
            <%= link_to participant_path(participant), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-times"></i>
            <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--Modal Add a participant-->
<div class="modal fade" id="participantCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Invite your friend</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% @users.each do |user| %>
          <ul>
            <% unless user.participates?(@trip) %>
              <li>
                <%= user.username %>
                <%= simple_form_for [@trip, @new_participant] do |f|%>
                  <%= f.input :user_id, as: :hidden, input_html: {value: user.id}%>
                  <%= f.input :trip_id, as: :hidden, input_html: {value: @trip.id} %>
                  <%= f.submit%>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
