<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%if @trip.photos[0] != nil%>
                <%=cl_image_tag @trip.photos[0].key, gravity: :center, height: 300, width: 400, crop: :thumb, style:"border-radius: 3px", alt:"First slide", class:"d-block w-100"%>
              <%else%>
                <%= image_tag("https://res.cloudinary.com/dyqby7tbh/image/upload/v1646646018/hfvhc5dke5r3qvjmgn0j.jpg", height: 300, width: 300, alt:"First slide", class:"d-block w-100")%>
              <%end%>
            </div>
            <div class="carousel-item">
              <%if @trip.photos[1] != nil%>
                <%=cl_image_tag @trip.photos[1].key, gravity: :center, height: 300, width: 400, crop: :thumb, style:"border-radius: 3px", alt:"First slide", class:"d-block w-100"%>
              <%else%>
                <%= image_tag("https://res.cloudinary.com/dyqby7tbh/image/upload/v1646648847/o1hgy77kvn4zppnmfaoq.jpg", height: 300, width: 400, alt:"First slide", class:"d-block w-100")%>
              <%end%>
            </div>
            <div class="carousel-item">
              <%if @trip.photos[2] != nil%>
                <%=cl_image_tag @trip.photos[2].key, gravity: :center, height: 300, width: 400, crop: :thumb, style:"border-radius: 3px", alt:"First slide", class:"d-block w-100"%>
              <%else%>
                <%= image_tag("https://res.cloudinary.com/dyqby7tbh/image/upload/v1646649101/yn6dwusfg1m8lrtd2ljh.jpg", height: 300, width: 400, alt:"First slide", class:"d-block w-100")%>
              <%end%>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
            <%if @trip.photos.attached?%>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#PhotosModal">
                Discover all photos
              </button>
            <%end%>
               <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddPhotosModal">
                Add photos
              </button>
        </div>

<%# modale index photos %>
<div class="modal fade" id="PhotosModal" tabindex="-1" aria-labelledby="PhotosModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="PhotosModalLabel">Photos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% @trip.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddPhotosModal">
        Add photos
      </button>
    </div>
  </div>
</div>

<%# modale add photo %>
<div class="modal fade" id="AddPhotosModal" tabindex="-1" aria-labelledby="AddPhotosModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddPhotosModalLabel">Photos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @trip do |f| %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Add my photos", class:"btn btn-outline-warning-sessions" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
