<div id="carouselExampleControls" class="carousel slide h-100" data-bs-ride="carousel">
  <div class="carousel-inner h-100">
    <div class="carousel-item active h-100">
      <%# <%if @trip.photos[0] != nil%>
        <%# <%=cl_image_tag @trip.photos[0].key, gravity: :center, height: "100%", width: 400, crop: :thumb, style:"border-radius: 20px; object-fit: cover;", alt:"First slide", class:"d-block w-100 h-100"%>
      <%# <%else%>
        <%= image_tag("https://res.cloudinary.com/dyqby7tbh/image/upload/v1646993179/rome_2_a6ewb9.jpg", width: 300, height: "100%", alt:"First slide", class:"d-block w-100 h-100", style: "object-fit: cover;")%>
      <%# <%end%>
    </div>
    <div class="carousel-item h-100">
      <%# <%if @trip.photos[1] != nil%>
        <%# <%=cl_image_tag @trip.photos[1].key, gravity: :center, width: 400, crop: :thumb, style:"border-radius: 20px; object-fit: cover;", alt:"First slide", class:"d-block w-100 h-100"%>
      <%# <%else%>
        <%= image_tag("https://res.cloudinary.com/dyqby7tbh/image/upload/v1646993179/rome_1_g9cwy5.jpg", width: 400, alt:"First slide", class:"d-block w-100 h-100", style: "object-fit: cover;")%>
      <%# <%end%>
    </div>
    <div class="carousel-item h-100">
      <%if @trip.photos[2] != nil%>
        <%=cl_image_tag @trip.photos[2].key, gravity: :center, width: 400, crop: :thumb, style:"border-radius: 20px; object-fit: cover;", alt:"First slide", class:"d-block w-100 h-100"%>
      <%else%>
        <%= image_tag("https://res.cloudinary.com/dyqby7tbh/image/upload/v1646993183/rome3_gtqnaq.jpg", width: 400, alt:"First slide", class:"d-block w-100 h-100", style: "object-fit: cover;")%>
      <%end%>
    </div>
    <button type="button" class="btn btn-add" id="addPhoto" data-bs-toggle="modal" data-bs-target="#AddPhotosModal">
      +
    </button>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<%# modale index photos %>
<div class="modal fade" id="PhotosModal" tabindex="-1" aria-labelledby="PhotosModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="PhotosModalLabel">All trips' photos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="Index-photos">
        <% @trip.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill %>
        <% end %>
      </div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddPhotosModal">
        Add photos
      </button>
    </div>
  </div>
</div>

<%# modale add photo %>
<div class="modal fade" id="AddPhotosModal" tabindex="-1" aria-labelledby="AddPhotosModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="position-relative" style="z-index: 2;">
          <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 15px; right: 15px;"></button>
        </div>
        <div class="modal-body py-5">
          <div class="container">
            <div class="d-flex w-100 align-items-center">
              <h4 class="text-center mb-4 highlight-title mx-auto">ADD YOUR PHOTOS</h4>
            </div>
              <%= simple_form_for @trip do |f| %>
              <%= f.input :photos, as: :file, input_html: { multiple: true } %>
              <div class="text-center mt-3">
                <%= f.submit "Add my photos", class: "btn btn-primary btnAddEvent gap-2 col-6" %>
              </div>
              <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
