<!-- Aller du trip of the participant -->
<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">Transports</h6>
      <h6>Your trip to <%= @transportations.first.destination %> is in
      <% remaining_days = ((@participant.transportations.first.departure_date - Time.now)/86400).to_i %>
      <%= remaining_days %> days,
      <%= (((@participant.transportations.first.departure_date - Time.now) % 86400)/3600).to_i %> hours,
      <%= ((((@participant.transportations.first.departure_date - Time.now) % 86400) % 3600)/60).to_i%> minutes
      <%= ((((@participant.transportations.first.departure_date - Time.now) % 86400) % 3600) % 60).to_i %> seconds
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ShowTransportationModal">
        See more
      </button>
    </div>
  </div>
</div>

<!-- Modal voir l'aller retour-->
<div class="modal fade" id="ShowTransportationModal" tabindex="-1" aria-labelledby="ShowTransportationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ShowTransportationModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Aller : <br>
        departure : <%= @transportations.first.departure_date.strftime("%A") %>, <%= @transportations.first.departure_date.month %>, <%= @transportations.first.departure_date.day %>, <%= @transportations.first.departure_date.year %><br>
        From : <%= @transportations.first.origin %>
        To: <%= @transportations.first.destination %><br>
        Retour: <br>
        departure : <%= @transportations[1].departure_date.strftime("%A") %>, <%= @transportations[1].departure_date.month %>, <%= @transportations[1].departure_date.day %>, <%= @transportations[1].departure_date.year %><br>
        From : <%= @transportations[1].origin %>
        To: <%= @transportations[1].destination %>
        <%# <%= je suis pas sure pour le retour, à valider sur un vrai truc qu'on aura rentré %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<% @transportations.each do |transportation|  %>
<div class="modal fade" id="EditTransportationModal" tabindex="-1" aria-labelledby="EditTransportationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EditTransportationModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<% end %>
