
<%# <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#TransportModal">
  My transportation
</button>


<div class="modal fade" id="TransportModal" tabindex="-1" aria-labelledby="TransportModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TransportModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div> %>

<!-- Aller du trip of the participant -->
 <div class="d-flex">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-light btn-sm btn-more-infos" data-bs-toggle="modal" data-bs-target="#ShowTransportationModal">
      more info
    </button>
    <button type="button" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#AddTransportationModal">
      +
    </button>
  </div>
<% coming_transportation = @participant.transportations.order('departure_date ASC').select{|transportation| transportation.departure_date > Time.now}.first  %>
<% if @participant.transportations == [] %>
  <p style="color:black">Add your bus, plane or anything ticket !</p>
<% elsif coming_transportation != nil && coming_transportation.departure_date > Time.now%>
  <h6>Your trip to <%= coming_transportation.destination %> is in
  <% remaining_days = ((coming_transportation.departure_date - Time.now)/86400).to_i %>
  <%= remaining_days %> days,
  <%= (((coming_transportation.departure_date - Time.now) % 86400)/3600).to_i %> hours,
  <%= ((((coming_transportation.departure_date - Time.now) % 86400) % 3600)/60).to_i%> minutes
  <%= ((((coming_transportation.departure_date - Time.now) % 86400) % 3600) % 60).to_i %> seconds

<% elsif @participant.transportations.each {|transportation| transportation.departure_date < Time.now} %>
  You have no ticket coming soon
    <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#ShowTransportationModal">
      See your previous tickets
    </button>
    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#AddTransportationModal">
      Add your next ticket
    </button>
<% end %>

<!-- Modal voir l'aller retour-->

<div class="modal fade" id="ShowTransportationModal" tabindex="-1" aria-labelledby="ShowTransportationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ShowTransportationModalLabel">Details of your journeys</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <% if @participant.transportations.size == 1 && @participant.transportations.first.departure_date > Time.now%>
        <div class="modal-body">
            Etape <%=  1 %> : <br>
            <div class="transportation-ticket d-flex justify-content-center">
              <div class="col">
                  <div class="row departure-ticket d-flex align-items-start">
                    departure : <%= @participant.transportations.first.departure_date.strftime("%A") %>, <%= @participant.transportations.first.departure_date.month %>, <%= @participant.transportations.first.departure_date.day %>, <%= @participant.transportations.first.departure_date.year %> at <%= @participant.transportations.first.departure_date.hour %> :
                  <% if @participant.transportations.first.departure_date.min == 0 %>
                    00
                  <% else %>
                    <%= @participant.transportations.departure_date.min %>
                  <% end %>
                </div>
                <div class="row origin-destination-infos">
                  <div class="col-3">
                    <p>
                      From : <br>
                      <p class="city-ticket"><%= @participant.transportations.first.origin.split(",").first %></p>
                    </p>
                  </div>
                  <div class="col-6 text-center ticket-globe">
                    <i class="fas fa-globe-europe" style=""></i>
                  </div>
                  <div class="col-3">
                    <p>To: <br>
                      <p class="city-ticket"><%= @participant.transportations.first.destination.split(",").first %></p>
                    </p>
                  </div>
                </div>
                <div class="row departure-time d-flex">
                  <i class="fas fa-clock" style="color:#F79F79; width:unset; max-width:unset; height:fit-content"></i>
                  <div style="width:unset; max-width:unset; height:fit-content">
                    <%= ((@participant.transportations.first.arrival_date - @participant.transportations.first.departure_date)/3600).round %>h
                  </div>
                </div>
              </div>
            </div>
          <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#EditTransportationModal">
            <i class="fas fa-edit"></i>
          </button>
        <%# <%= je suis pas sure pour le retour, à valider sur un vrai truc qu'on aura rentré %>
      </div>
      <% else %>
        <% @participant.transportations.order('departure_date ASC').each_with_index do |transportation, index|  %>
        <div class="modal-body">
        <% flight_duration = transportation.arrival_date - transportation.departure_date %>
          Etape <%= index + 1 %> :
          <div class="transportation-ticket d-flex justify-content-center">
          <div class="col">
            <div class="row departure-ticket d-flex align-items-start">
              Departure : <%= transportation.departure_date.strftime("%A") %>, <%= transportation.departure_date.month %>, <%= transportation.departure_date.day %>, <%= transportation.departure_date.year %> at
              <%= transportation.departure_date.hour %> h
                <% if transportation.departure_date.min == 0 %>
                00
                <% else %>
                  <%= transportation.departure_date.min %>
                <% end %>
            </div>
            <div class="row origin-destination-infos">
              <div class="col-3">
                <p>
                  From : <br>
                  <p class="city-ticket"><%= transportation.origin.split(",").first %></p>
                </p>
              </div>
              <div class="col-6 text-center ticket-globe">
                <i class="fas fa-globe-europe" style=""></i>
              </div>
              <div class="col-3">
                <p>To: <br>
                  <p class="city-ticket"><%= transportation.destination.split(",").first %></p>
                </p>
              </div>
            </div>
            <div class="row departure-time d-flex">
              <i class="fas fa-clock" style="color:#F79F79; width:unset; max-width:unset; height:fit-content"></i>
              <div style="width:unset; max-width:unset; height:fit-content">
                <%= (flight_duration/3600).round %>h
              </div>
            </div>
          </div>
        </div>
          <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#EditTransportationModal">
            <i class="fas fa-edit"></i>
          </button>
          <%# <%= je suis pas sure pour le retour, à valider sur un vrai truc qu'on aura rentré %>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal add a journey-->
<div class="modal fade" id="AddTransportationModal" tabindex="-1" aria-labelledby="AddTransportationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="position-relative" style="z-index: 2;">
        <button type="button" class="btn position-absolute" data-bs-toggle="modal" data-bs-target="#ShowTransportationModal" style="top: 15px; left: 15px;">
          <i class="fas fa-arrow-left"></i>
        </button>
        <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 15px; right: 15px;"></button>
      </div>

      <div class="modal-body py-5">
        <div class="container">
          <div class="d-flex w-100 align-items-center">
            <h4 class="text-center mb-4 highlight-title mx-auto" id="titleAccomodationModal">ADD AN ITINERARY</h4>
          </div>
            <%= simple_form_for [@participant, @new_transportation], class:"transportation-form" do |f|%>
               <div class="origin-destination d-flex justify-content-around">
                <%= f.input :origin,
                  input_html: { data: { geocoder_target: "address" }, placeholder:"Paris Orly, Gare Bordeaux Saint Jean, 56 rue de la Chine 75020 Paris", class: "d-none" },
                  wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } }, label: false%>
                <%= f.input :destination,
                  input_html: { data: { geocoder_target: "address" }, placeholder:"Rome, Gare de Lyon Perrache, Gite de Canelles,...", class: "d-none" },
                  wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } }, label: false%>
              </div>
              <div class="transportations-dates d-flex justify-content-around">
                <%= f.input :departure_date, label:"When are you leaving?", as: :string, required: false, input_html: {class: "datepicker"} %>
                <%= f.input :arrival_date, label:"When will you arrive?", as: :string, required: false, input_html: {class: "datepicker"} %>
              </div>
              <div class="transportations-others-infos d-flex justify-content-around">
                <%= f.input :mean, label:"How will you travel?", as: :select, collection: Transportation::CATEGORIES %>
                <%= f.input :price, label:"How much did it cost?" %>
              </div>
              <div class="text-center mt-3">
                <%= f.submit "Let's go!", class: "btn btn-primary btnAddTransportation gap-2 col-6" %>
              </div>
            <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit -->
<% @transportations.each do |transportation|  %>
  <div class="modal fade" id="EditTransportationModal" tabindex="-1" aria-labelledby="AddTransportationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="position-relative" style="z-index: 2;">
          <button type="button" class="btn position-absolute" data-bs-toggle="modal" data-bs-target="#ShowTransportationModal" style="top: 15px; left: 15px;">
            <i class="fas fa-arrow-left"></i>
          </button>
          <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 15px; right: 15px;"></button>
        </div>
        <div class="modal-body py-5">
          <div class="container">
            <div class="d-flex w-100 align-items-center">
              <h4 class="text-center mb-4 highlight-title mx-auto" id="titleAccomodationModal">ADD AN ITINERARY</h4>
            </div>
              <%= simple_form_for [transportation], class:"transportation-form" do |f|%>
                <div class="origin-destination d-flex justify-content-around">
                  <%= f.input :origin, label:"From...", placeholder: 'Paris' %>
                  <%= f.input :destination, label:"To...", placeholder: 'Rome' %>
                </div>
                <div class="transportations-dates d-flex justify-content-around">
                  <%= f.input :departure_date, label:"When are you leaving?", as: :string, required: false, input_html: {class: "datepicker"} %>
                  <%= f.input :arrival_date, label:"When will you arrive?", as: :string, required: false, input_html: {class: "datepicker"} %>
                </div>
                <div class="transportations-others-infos d-flex justify-content-around">
                  <%= f.collection_radio_buttons :mean, [[1, 'bus'], [2, 'train'], [3,'plane'], [4,'car'], [5, 'various'], [6,'other']], :first, :last, { item_wrapper_tag: false } %>
                  <%= f.input :price, label:"How much did it cost?" %>
                </div>
                <div class="text-center mt-3">
                  <%= f.submit "Let's go!", class: "btn btn-primary btnAddTransportation gap-2 col-6" %>
                </div>
              <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
