
<%# <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#TransportModal">
  My transportation
</button>


<div class="modal fade" id="TransportModal" tabindex="-1" aria-labelledby="TransportModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TransportModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div> %>


<!-- Aller du trip of the participant -->
      <% if @participant.transportations.exists? == false %>
      <p style="color:black">Add your bus, plane or anything ticket !</p>
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#AddTransportationModal">
        Add your ticket
      </button>
      <% else %>
        <h6>Your trip to <%= @participant.transportations.first.destination %> is in
        <% remaining_days = ((@participant.transportations.first.departure_date - Time.now)/86400).to_i %>
        <%= remaining_days %> days,
        <%= (((@participant.transportations.first.departure_date - Time.now) % 86400)/3600).to_i %> hours,
        <%= ((((@participant.transportations.first.departure_date - Time.now) % 86400) % 3600)/60).to_i%> minutes
        <%= ((((@participant.transportations.first.departure_date - Time.now) % 86400) % 3600) % 60).to_i %> seconds

        <div class="d-flex">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#ShowTransportationModal">
            See more
          </button>
          <button type="button" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#AddTransportationModal">
            +
          </button>
        </div>

      <% end %>


<!-- Modal voir l'aller retour-->

  <div class="modal fade" id="ShowTransportationModal" tabindex="-1" aria-labelledby="ShowTransportationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ShowTransportationModalLabel">Details of your journeys</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <% @participant.transportations.each_with_index do |transportation, index|  %>
        <div class="modal-body d-flex justify-content-between">
          <div>
            Etape <%=  index + 1 %> : <br>
            departure : <%= transportation.departure_date.strftime("%A") %>, <%= transportation.departure_date.month %>, <%= transportation.departure_date.day %>, <%= transportation.departure_date.year %><br>
            From : <%= transportation.origin %>
            To: <%= transportation.destination %><br>
          </div>
          <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#EditTransportationModal">
            <i class="fas fa-edit"></i>
          </button>
          <%# <%= je suis pas sure pour le retour, à valider sur un vrai truc qu'on aura rentré %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

<!-- Modal add a journey-->
<div class="modal fade" id="AddTransportationModal" tabindex="-1" aria-labelledby="AddTransportationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddTransportationModalLabel">Add your ticket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@participant, @new_transportation], class:"transportation-form" do |f|%>
          <div class="origin-destination d-flex justify-content-between">
            <%= f.input :origin, label:"From...", placeholder: 'Paris' %>
            <%= f.input :destination, label:"To...", placeholder: 'Rome' %>
          </div>
          <div class="transportations-dates d-flex justify-content-between">
            <%= f.input :departure_date, label:"When are you leaving?", as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :arrival_date, label:"When will you arrive?", as: :string, required: false, input_html: {class: "datepicker"} %>
          </div>
          <div class="transportations-others-infos d-flex justify-content-between">
            <%= f.input :mean, label:"How will you travel?", as: :select, collection: Transportation::CATEGORIES %>
            <%= f.input :price, label:"How much did it cost?" %>
          </div>
          <%= f.submit "Let's go!", class: "btn btn-primary" %>
        <%end%>
      </div>
    </div>
  </div>
</div>


<!-- Modal Edit -->
<% @transportations.each do |transportation|  %>
<div class="modal fade" id="EditTransportationModal" tabindex="-1" aria-labelledby="EditTransportationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EditTransportationModalLabel">Edit title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(transportation) do |f|%>
          <div class="origin-destination d-flex justify-content-between">
            <%= f.input :origin, label:"From...", placeholder: 'Paris' %>
            <%= f.input :destination, label:"To...", placeholder: 'Rome' %>
          </div>
          <div class="transportations-dates d-flex justify-content-between">
            <%= f.input :departure_date, label:"When are you leaving?", as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :arrival_date, label:"When will you arrive?", as: :string, required: false, input_html: {class: "datepicker"} %>
          </div>
          <div class="transportations-others-infos d-flex justify-content-between">
            <%= f.input :mean, label:"How will you travel?", as: :select, collection: Transportation::CATEGORIES %>
            <%= f.input :price, label:"How much did it cost?" %>
          </div>
          <%= f.submit "Change your ticket", class: "btn btn-primary" %>
        <%end%>
      </div>
    </div>
  </div>
</div>
<% end %>
