
<%# <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#TransportModal">
  My transportation
</button>


<div class="modal fade" id="TransportModal" tabindex="-1" aria-labelledby="TransportModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TransportModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div> %>


<!-- Aller du trip of the participant -->
<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">Transports</h6>
      <% if @participant.transportations.exists? == false %>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddTransportationModal">
        Add a new journey
      </button>
      <% else %>
        <h6>Your trip to <%= @participant.transportations.first.destination %> is in
        <% remaining_days = ((@participant.transportations.first.departure_date - Time.now)/86400).to_i %>
        <%= remaining_days %> days,
        <%= (((@participant.transportations.first.departure_date - Time.now) % 86400)/3600).to_i %> hours,
        <%= ((((@participant.transportations.first.departure_date - Time.now) % 86400) % 3600)/60).to_i%> minutes
        <%= ((((@participant.transportations.first.departure_date - Time.now) % 86400) % 3600) % 60).to_i %> seconds
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ShowTransportationModal">
          See more
        </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddTransportationModal">
          Add a new journey
        </button>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal voir l'aller retour-->

  <div class="modal fade" id="ShowTransportationModal" tabindex="-1" aria-labelledby="ShowTransportationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ShowTransportationModalLabel">Details of your journeys</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <% @participant.transportations.each_with_index do |transportation, index|  %>
        <div class="modal-body">
          Etape <%=  index + 1 %> : <br>
          departure : <%= transportation.departure_date.strftime("%A") %>, <%= transportation.departure_date.month %>, <%= transportation.departure_date.day %>, <%= transportation.departure_date.year %><br>
          From : <%= transportation.origin %>
          To: <%= transportation.destination %><br>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditTransportationModal">
          Edit
        </button>
          <%# <%= je suis pas sure pour le retour, à valider sur un vrai truc qu'on aura rentré %>
        </div>
        <% end %>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal add a journey-->
<div class="modal fade" id="AddTransportationModal" tabindex="-1" aria-labelledby="AddTransportationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddTransportationModalLabel">Add a journey</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@participant, @new_transportation] do |f|%>
          <%= f.input :price %>
          <%= f.input :origin %>
          <%= f.input :destination %>
          <%= f.input :mean, as: :select, collection: Transportation::CATEGORIES %>
          <%= f.input :departure_date %>
          <%= f.input :arrival_date %>
          <%= f.submit %>
        <%end%>
      </div>
    </div>
  </div>
</div>


<!-- Modal Edit -->
<% @transportations.each do |transportation|  %>
<div class="modal fade" id="EditTransportationModal" tabindex="-1" aria-labelledby="EditTransportationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EditTransportationModalLabel">Edit title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(transportation) do |f|%>
          <%= f.input :price %>
          <%= f.input :origin %>
          <%= f.input :destination %>
          <%= f.input :departure_date %>
          <%= f.input :arrival_date %>
          <%= f.submit %>
        <%end%>
      </div>
    </div>
  </div>
</div>
<% end %>
