<!DOCTYPE html>
<html>
  <head>
    <title>MomentBatch800</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

<footer class="container-fluid bg-grey" style="height:auto">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-sm-3">
        <div class="row align-items-center">
          <div class="col-md-6 col-sm-3" style="border-right: 1px solid grey;">
            <div class="logo-part" style="height: 100px;">
              <%= image_tag "Logo.jpg", alt: "logo", class:"img-fluid rounded mx-auto d-block", style:"height:50%"%>
              <p style="text-align:center;margin-top:20px">16 villa Gaudelet, 75011 Paris</p>
            </div>
          </div>
            <div class="col-md-6 col-sm-3 px-4">
              <h6>Get to know us</h6>
              <p>4 little wizards trying to do muggle stuffs.</p>
            </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-3">
        <div class="row">
          <div class="col-md-6 col-sm-3 px-4">
              <h6>Find your way</h6>
              <div class="row ">
                <div class="col-md-6 col-sm-3">
                    <ul>
                      <li> <a href="#">Home</a> </li>
                      <li> <a href="#">About</a> </li>
                      <li> <a href="#">Team</a> </li>
                    </ul>
                </div>
              </div>
          </div>
          <div class="col-md-6 col-sm-3">
              <h6>Let's meet somewhere else</h6>
              <div class="social">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <p>Something wicked this way comes...</p>
          </div>
        </div>
      </div>
   </div>
  </div>
</footer>

  </body>
</html>
