<!DOCTYPE html>
<html>
  <head>
    <title>MomentBatch800</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div class="content-wrapper">
      <%= yield %>
    </div>

    <footer class="container-fluid bg-white" style="height:auto">
      <div class="container">
        <div class="row align-items-center d-flex justify-content-between">
          <div class="col-md-4 col-sm-2">
            <h6>Momento</h6>
            <p>Copyright © 2022 Momento. All rights reserved </p>
          </div>
            <div class="col-md-4 col-sm-2">
            </div>
          <div class="col-md-4 col-sm-2">
                  <div class="social d-flex justify-content-center align-items-center">
                    <div class="social-circle d-flex justify-content-center align-items-center">
                      <a href="#"><i class="fab fa-github" style="color: black"></i></a>
                    </div>
                    <div class="social-circle d-flex justify-content-center align-items-center">
                      <a href="#"><i class="fab fa-instagram" style="color: black"></i></a>
                    </div>
                    <div class="social-circle d-flex justify-content-center align-items-center">
                      <a href="#"><i class="fab fa-facebook" style="color: black"></i></a>
                    </div>
                    <div class="social-circle d-flex justify-content-center align-items-center">
                      <a href="#"><i class="fab fa-twitter" style="color: black"></i></a>
                    </div>
                    <div class="social-circle d-flex justify-content-center align-items-center">
                      <a href="#"><i class="fab fa-linkedin" style="color: black"></i></a>
                    </div>
                  </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
